In [162]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_squared_error as mse
from sklearn.neighbors import KNeighborsRegressor as KNN
from sklearn.ensemble import RandomForestRegressor as RF


from sklearn.preprocessing import Normalizer


from sklearn.model_selection import train_test_split, RandomizedSearchCV, cross_val_score

warnings.filterwarnings('ignore')

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [2]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
color = sns.color_palette()
sns.set()

In [3]:
data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [4]:
#data = data.drop(['Healthcare_1'], axis=1)
#test = test.drop(['Healthcare_1'], axis=1)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [6]:
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [7]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

## Приведение типов

Этажей как и квартир с дробным значением нет, поэтому можно поменять тип.  
Это положительно сказалось на модели

In [8]:
data['HouseFloor'] = data['HouseFloor'].astype(np.int64)
data['Rooms'] = data['Rooms'].astype(np.int64)

# Разделение даты на тренировочную и валидационную выборку

In [9]:
train, valid = train_test_split(data, test_size=0.3, random_state=42)

# Визуализация исходных данных

Визуализацию вынес в отдельный notebook для удобства

# Чистка ошибочных данных и выбросов

## Выбросы кол-ва комнат

In [10]:
train.loc[train['Rooms'] > 6, ['Rooms', 'Square']]

      Rooms     Square
1454     19  42.006046
377      10  59.056975

In [11]:
valid.loc[valid['Rooms'] > 6, ['Rooms', 'Square']]

      Rooms     Square
8849     10  60.871266

In [12]:
train.groupby('Rooms')[['Square', 'Price']].mean()

           Square          Price
Rooms
0       62.714154  184599.160110
1       41.366349  160134.810901
2       56.808238  215287.628931
3       77.128820  290867.452543
4       98.651884  385776.526291
5      103.645574  386743.536446
6       59.414334  229661.964416
10      59.056975  317265.323792
19      42.006046   78364.616704

Площадь не соответствует квадратуре, и цене. Заменю средним значением

In [13]:
train.loc[train['Rooms'] > 6, 'Rooms'] = 3
valid.loc[valid['Rooms'] > 6, 'Rooms'] = 3

На тесте данные аналогичные

In [14]:
test.loc[test['Rooms'] > 6, ['Rooms', 'Square']]

      Rooms     Square
3398   17.0  52.866107

In [15]:
test.groupby('Rooms')[['Square']].mean()

           Square
Rooms
0.0     96.584677
1.0     40.943143
2.0     56.689144
3.0     77.201304
4.0     94.501365
5.0    115.788971
6.0    167.101957
17.0    52.866107

In [16]:
test.loc[test['Rooms'] > 6, 'Rooms'] = 3

## Площадь

In [17]:
train.loc[train['Square'] > 300, ['Square', 'Rooms', 'Price', 'DistrictId', 'Id']]

          Square  Rooms          Price  DistrictId    Id
4262  604.705972      2  187717.242538           9    28
4690  409.425181      1   90470.430830         102  2307

In [18]:
train.loc[train['Id'] == 28, 'Square'] = train.loc[(train['Rooms'] == 2) & (train['DistrictId'] == 9), 'Square'].mean()
train.loc[train['Id'] == 2307, 'Square'] = train.loc[(train['Rooms'] == 1) & (train['DistrictId'] == 102), 'Square'].mean()

In [19]:
valid.loc[valid['Square'] > 300, ['Square', 'Rooms', 'Price', 'DistrictId', 'Id']]

          Square  Rooms          Price  DistrictId     Id
6977  641.065193      2  133529.681562          30  11602

In [20]:
valid.loc[valid['Id'] == 11602, 'Square'] = train.loc[(train['Rooms'] == 2) & (train['DistrictId'] == 30), 'Square'].mean()

In [21]:
test.loc[test['Square'] > 200, ['Square', 'Rooms','DistrictId', 'Id']]

          Square  Rooms  DistrictId    Id
3217  223.453689    6.0          27  4058
3909  221.138768    3.0          76  1397

In [22]:
test.loc[test['Id'] == 1397, 'Square'] = train.loc[(train['Rooms'] == 3) & (train['DistrictId'] == 76), 'Square'].mean()

### Поиск малых значений

In [23]:
valid.loc[valid['Square'] < 13, ['Square', 'Rooms', 'Price', 'DistrictId', 'Id']]

        Square  Rooms          Price  DistrictId     Id
4900  4.390331      3  161379.067034          27   4504
8283  1.988943      1  458378.777006          34  15744
1608  2.596351      1  137597.601458           6  10202
212   5.497061      2  412511.088764          88   1748
6392  1.136859      1  181434.825589           1  14786

### очень малое значение площади, для проверки надо создать словарь средних площадей

In [24]:
train_dict = {
    'district_mean_square': train.groupby(['DistrictId', 'Rooms'])[['Square']].mean().reset_index().rename(columns={'Square':'district_mean_square'}),
    'district_mean_price': train.groupby(['DistrictId', 'Rooms'])[['Price']].mean().reset_index().rename(columns={'Price':'district_mean_price'}),
}

### мердж данных в DF

In [25]:
train = pd.merge(train, train_dict['district_mean_square'], on=['DistrictId', 'Rooms'], how='left')
train = pd.merge(train, train_dict['district_mean_price'], on=['DistrictId', 'Rooms'], how='left')
valid = pd.merge(valid, train_dict['district_mean_square'], on=['DistrictId', 'Rooms'], how='left')
test = pd.merge(test, train_dict['district_mean_square'], on=['DistrictId', 'Rooms'], how='left')

### сравнение со средними

In [26]:
train.loc[train['Square'] < 13, ['Rooms', 'Price', 'Square','district_mean_square', 'district_mean_price', 'LifeSquare']]

,Rooms,Price,Square,district_mean_square,district_mean_price,LifeSquare
554,1,369472.403061,5.129222,36.229417,256806.516354,5.549458
873,1,97560.720383,4.380726,42.573792,123555.916178,40.805837
1675,3,237716.681261,4.823679,82.060899,245205.379553,79.767964
5187,1,483283.488083,4.502784,46.297136,272595.961807,4.618547
5254,1,107604.269441,4.633498,42.573792,123555.916178,1.969969
5843,0,126596.941798,2.377248,60.865274,164373.887658,0.873147
6036,1,438005.182323,2.954309,40.330637,228773.187700,5.257278

In [27]:
train.loc[train['Square'] < 13, 'Square'] = train['district_mean_square']

In [28]:
valid.loc[valid['Square'] < 13, ['Rooms', 'Square','district_mean_square']]

      Rooms    Square  district_mean_square
691       3  4.390331             80.469616
739       1  1.988943             39.420921
872       1  2.596351             43.932481
1365      2  5.497061             51.667014
1880      1  1.136859             43.718832

In [29]:
valid.loc[valid['Square'] < 13, 'Square'] = valid['district_mean_square']

In [30]:
test.loc[test['Square'] < 13, ['Rooms', 'Square','district_mean_square']]

      Rooms    Square  district_mean_square
66      1.0  1.378543             38.411975
608     1.0  2.645046             44.521862
837     1.0  5.647458             42.573792
1165    1.0  5.100672             43.932481
4490    1.0  2.372101             42.573792
4540    1.0  4.967143             43.932481
4713    2.0  2.900586             62.383205
4902    1.0  1.975769             40.330637

In [31]:
test.loc[test['Square'] < 13, 'Square'] = test['district_mean_square']

## Нежилое помещение

Предположение, если не заполнена жилая площадь и площадь кухни, то это не жилое помещение.  
Использую для технических нужд, мб пригодится в модели.

In [32]:
train['NotForLife'] = ((train['LifeSquare'].isnull()) & (train['KitchenSquare'] == 0)).astype(int)

In [33]:
valid['NotForLife'] = ((valid['LifeSquare'].isnull()) & (valid['KitchenSquare'] == 0)).astype(int)

In [34]:
test['NotForLife'] = ((test['LifeSquare'].isnull()) & (test['KitchenSquare'] == 0)).astype(int)

## Жилая площадь

### Большие значения

In [35]:
train.loc[train['LifeSquare'] > 250, ['LifeSquare', 'Square', 'Rooms', 'Price', 'district_mean_square']]

       LifeSquare      Square  Rooms          Price  district_mean_square
942   7480.592129   81.694417      3  217357.492366             80.469616
1547   461.463614   78.059331      3  394253.299978             72.335148
2825   410.639749  226.291341      1   90470.430830            134.724422

Так как значений мало, занулим данные значения

In [36]:
train.loc[train['LifeSquare'] > 250, 'LifeSquare'] = np.NaN

In [37]:
valid.loc[valid['LifeSquare'] > 250, ['LifeSquare', 'Square', 'Rooms', 'district_mean_square']]

     LifeSquare     Square  Rooms  district_mean_square
485  638.163193  65.127062      2             65.127062
537  263.542020  48.449873      2             60.877232

In [38]:
valid.loc[valid['LifeSquare'] > 250, 'LifeSquare'] = np.NaN

In [39]:
test.loc[test['LifeSquare'] > 250, ['LifeSquare', 'Square', 'Rooms', 'district_mean_square']]

     LifeSquare     Square  Rooms  district_mean_square
410  303.071094  48.713443    2.0             50.516024

In [40]:
test.loc[test['LifeSquare'] > 250, 'LifeSquare'] = np.NaN

### Малые значения

In [41]:
train.loc[train['LifeSquare'] < 10, ['LifeSquare', 'Square', 'Rooms', 'Price','district_mean_square']]

      LifeSquare      Square  Rooms          Price  district_mean_square
14      2.286357   63.419553      1  325600.765809             40.330637
20      1.451067  104.446306      3  223692.672480             91.544821
39      5.336872   68.896696      2  338780.798345             56.035256
93      3.411048   49.635712      1  146838.036852             47.918564
133     2.372105   39.225914      1  271893.118572             40.330637
197     3.666085   83.190541      3  221683.641204             79.874558
249     4.337395   81.380553      3  196743.389597             80.469616
273     4.699898   37.387578      1  109553.129485             44.521862
315     5.815532   58.161484      2  138905.568311             63.873450
356     2.093332   43.259451      1  129781.342708             42.383001
359     0.641822  106.958871      3  337299.867936             80.469616
381     5.005477   41.314775      1  159149.515475             43.932481
388     4.090415   70.193071      3  108658.694240             81.495764
432     2.179808   66.544692      2  183784.694445             60.841150
438     4.760040   73.499532      2  154677.320948             67.876169
441     5.768457   64.977910      2  194036.364634             57.879637
554     5.549458   36.229417      1  369472.403061             36.229417
789     5.735331   58.896686      2  286784.105825             55.572615
814     4.203073   51.815214      1  137880.620962             45.731261
920     4.323046   53.733677      1  208773.977243             42.368571
929     2.299716   79.967167      3  203302.643146             79.874558
979     2.967666   36.502191      1  105418.009909             42.573792
1036    1.049867   58.521098      2  142393.084641             63.873450
1100    1.789086   44.204418      1  160181.048031             43.718832
1146    2.730297   60.231529      2  189988.834380             57.879637
1158    1.591420   62.920673      2  180234.142008             57.879637
1164    2.835969   39.988849      1   99605.702895             42.573792
1182    3.259832   42.457169      1  155348.833619             44.521862
1240    2.014454   65.845103      2  229921.804972             63.873450
1417    3.943299   61.978423      1  177116.339701             43.932481
1440    4.634049   79.521221      2  232726.628137             63.201979
1474    4.083905   39.145322      1  116981.443099             43.932481
1493    5.125908   47.301790      1  138880.254465             42.383001
1619    5.419928   86.802396      3  238084.208302             75.949984
1688    2.981582   39.251773      1  136206.666782             43.932481
1693    1.595943   59.715762      2  189331.645263             63.873450
1706    3.288779   48.232741      1  207086.637307             47.182108
1794    5.565903   73.639918      3  220109.387427             75.949984
1805    2.281565   66.217931      2  153639.846840             65.127062
1945    5.182432   31.336795      1  114139.125176             42.573792
1946    3.489694   62.494611      1  193568.854208             43.718832
2002    5.911706   30.152348      1   64530.702769             43.285976
2102    2.608669   42.840915      1  236378.466217             40.034190
2107    1.451846   98.047744      4  366655.111294             98.138510
2138    5.226210   83.184700      3  212195.019570             79.874558
2176    2.347250   41.872590      1  136609.809831             40.249161
2186    4.855507   53.043172      2   89801.732879             60.877232
2302    3.987101   66.419841      1  193361.229815             43.932481
2341    2.941437   77.847057      3  221644.916098             79.874558
2396    3.435682   66.542124      2  181423.633875             57.879637
...          ...         ...    ...            ...                   ...
4568    5.927865   38.818170      1  131405.866884             43.932481
4572    5.144151   79.056088      3  209843.057259             79.874558
4587    1.150046   65.568381      2  187858.706484             57.879637
4743    2.078688   93.904994      4  367368.954516             98.138510
4810    1.974968   64.998310      2  175065.504600             62.383205
4837    5.223835   43.939112      1  127493.328448             43.932481
4924    2.616535   56.564445      2  141086.005616             63.873450
4929    2.400832   60.603363      2  261733.472106             60.843806
5003    5.142822   56.290825      2  294282.721375             55.572615
5039    2.025690   39.952209      1  139430.545313             43.718832
5064    2.077811   41.527079      1  214393.174037             37.550539
5114    4.171094   71.904226      2  184050.456761             62.383205
5163    1.471491   67.983723      2  152932.624905             63.873450
5169    1.251846   44.171793      1  134910.715588             42.383001
5185    0.795539   63.591740      2  174741.998061             62.383205
5187    4.618547   46.297136      1  483283.488083             46.297136
5194    1.726270   43.227719      1  154565.271940             47.918564
5205    4.164726   64.682905      2  186246.253542             62.383205
5215    1.377284   49.275155      1  135353.885620             45.731261
5254    1.969969   42.573792      1  107604.269441             42.573792
5296    2.452816   64.473190      2  181679.665945             60.877232
5465    4.896202   51.991064      3  174687.566186             80.469616
5496    4.763693   51.460538      1  142065.034795             43.932481
5523    2.072088   45.642858      1  157681.026389             43.718832
5600    5.624248   42.065862      1  126976.982021             44.521862
5620    3.529646   66.012592      2  252748.663126             60.475900
5635    3.289115   81.220434      2  437452.971467             62.777773
5656    2.361873   78.105126      3  221807.112568             79.874558
5771    2.978572   66.515904      2  231033.071195             63.201979
5795    0.370619   38.178277      1  105134.286994             46.656098
5820    5.567502   49.684155      1  138230.149386             43.932481
5843    0.873147   60.865274      0  126596.941798             60.865274
5856    1.312908   37.710823      1   96563.367810             43.285976
5899    5.066533   55.828425      2  183136.340415             63.201979
5929    5.164391   67.981161      2  205998.194897             57.879637
5944    1.417155   49.462997      1  119791.098164             41.586551
5988    4.037187   56.809859      2  124695.921792             60.877232
5989    4.114601   40.490421      1  120221.581843             42.573792
6017    3.064164   68.495636      2  178486.385759             62.383205
6036    5.257278   40.330637      1  438005.182323             40.330637
6101    1.819046   65.620926      2  211345.630469             63.873450
6112    4.977769   37.686426      1   72950.870871             44.802693
6422    2.553024   47.804946      1  133552.372112             43.932481
6425    1.411101   74.747303      2  431137.951634             62.777773
6433    1.104689   48.990533      1  124761.832592             40.627633
6461    4.437475   41.941912      1  113350.022423             42.573792
6506    4.552029   43.670665      1  132162.808917             43.932481
6593    3.533997   68.088569      2  311242.425922             52.694578
6853    4.187885   84.250710      3  236647.781363             80.469616
6890    3.064320   38.936986      1   93560.789553             42.573792

[139 rows x 5 columns]

In [42]:
train.loc[train['LifeSquare'] < 10, 'LifeSquare'] = np.NaN

In [43]:
valid.loc[valid['LifeSquare'] < 10, ['LifeSquare', 'Square', 'Rooms', 'Price','district_mean_square']]

      LifeSquare      Square  Rooms          Price  district_mean_square
2       3.977650   82.882978      3  219945.304640             79.874558
117     5.822657   38.651043      1  103210.010325             42.573792
142     1.538058   50.022583      1  130720.196859             45.731261
277     5.948864   66.942469      2  183976.840021             57.879637
355     4.605527   42.555286      1  121435.137257             42.573792
372     1.549931   38.005975      1  107147.609125             45.731261
475     5.871816   50.873129      1  149885.229628             42.573792
476     4.575279   91.948656      3  451714.464410             90.527166
511     3.668460   43.613432      1  128710.472293             43.932481
567     1.855415   36.112393      1   94881.691800             42.573792
576     4.811405  127.141143      3  611250.912034             68.453747
585     4.110708  107.558419      3  577122.841727             98.065201
621     4.003157   78.380053      3  206647.245666             79.874558
673     5.145413   64.378891      2  168241.837092             62.383205
677     3.953911   40.022999      1  132042.522763             43.932481
691     5.610772   80.469616      3  161379.067034             80.469616
739     2.642219   39.420921      1  458378.777006             39.420921
758     2.358992   72.035396      1  191744.615408             42.383001
784     5.751401  122.438148      1  224900.897679             45.731261
798     1.404493   43.312025      1  128588.741321             43.932481
842     4.736100   40.302458      1  162016.371387             47.918564
872     4.604943   43.932481      1  137597.601458             43.932481
927     1.487210   40.288833      1   95779.608687             42.573792
943     1.638083   66.535842      2  175067.233991             63.873450
949     4.723280   42.443389      1  117241.487012             42.573792
953     1.477182   67.064373      2  220658.160421             60.841150
1037    4.775790   62.591303      2  171878.679677             63.201979
1145    3.769436   73.059245      2  224526.414201             75.421766
1159    5.996579   68.271934      2  165274.707221             63.873450
1160    4.091945   61.334968      2  286564.441972             60.843806
1203    2.473218   44.745678      1  135117.419968             42.383001
1259    2.752436   40.097663      1  214054.328691             37.186682
1519    2.861966   73.275697      2  171980.001444             63.873450
1576    4.502443   40.274141      1  126700.544076             43.932481
1604    1.519147   43.612945      1  123984.998458             43.932481
1810    1.626502   41.186904      1  216882.265408             40.034190
1817    5.662233   54.755388      2  150281.357110             63.873450
1858    3.428437   62.000239      2  185230.373774             62.383205
1880    4.525736   43.718832      1  181434.825589             43.718832
1979    5.137161   45.989250      1  282277.505656             36.229417
2005    3.249569   50.392833      2  157822.338178             50.516024
2020    5.387263   83.259565      2  260852.230977             75.421766
2070    2.637095   94.888593      4  346949.506507             98.138510
2139    4.362005   65.235395      2  336951.628930             60.843806
2203    2.609712  127.651237      1  594565.299770             44.782965
2213    4.769174   83.262530      3  410883.892020             72.602683
2266    4.682974   52.703116      2  153296.980210             62.383205
2274    4.914122   32.533803      2  115837.070662             65.127062
2279    2.868683   48.577906      1  150822.681564             44.521862
2336    3.512299   75.994434      2  190746.651322             62.383205
2355    4.309547   40.915247      1  209978.966130             40.034190
2360    4.174627   40.525820      1  116642.983817             44.802693
2385    4.044174   78.432890      1  222826.758816             43.932481
2439    1.836365   39.709108      1  134922.641633             43.932481
2490    3.032334   86.221496      3  167544.244106             91.544821
2497    1.626501   82.535096      3  218975.318679             83.053562
2538    3.434851   86.059789      3  467773.389759             81.502126
2608    5.600609   52.787090      1  104160.492175             43.285976
2625    1.894269   64.083268      2  187599.924231             62.383205
2635    5.114439   38.305753      1   97050.819286             42.573792
2680    4.295819   52.028804      1   98638.755928             43.285976
2683    4.289714   61.136113      2  326425.621924             58.406663
2686    1.318250   83.162217      3  391390.261824             76.058932
2854    1.185864   53.835574      1  185976.351147             47.918564
2862    4.030483   83.590446      3  315641.205620             87.440584
2896    3.204071   56.978743      2  250175.781800             60.843806

In [44]:
valid.loc[valid['LifeSquare'] < 10, 'LifeSquare'] = np.NaN

In [45]:
test.loc[test['LifeSquare'] < 10, ['LifeSquare', 'Square', 'Rooms', 'district_mean_square']]

      LifeSquare      Square  Rooms  district_mean_square
18      5.690155   82.652818    3.0             80.469616
66      1.353573   38.411975    1.0             38.411975
71      4.188395   85.911827    2.0             53.469022
77      3.798341   59.927502    2.0             59.938799
78      0.333490  122.375273    5.0            121.577423
153     5.589869  105.351051    3.0             75.949984
237     2.132381   56.688460    1.0             41.407428
259     2.366869   81.003455    3.0             81.879267
325     2.912992   48.674779    1.0             42.573792
326     1.181139   64.112441    2.0             63.201979
369     2.819415   70.894808    2.0             61.008112
381     4.259876   44.925461    1.0             37.684398
513     2.470856   72.023275    3.0             82.060899
562     1.551167   52.136972    1.0             42.573792
579     5.042692   43.359678    1.0             43.285976
608     4.338755   44.521862    1.0             44.521862
643     1.307526   86.357546    3.0             80.469616
730     5.480479   37.654127    1.0             42.573792
798     3.536673   83.474667    3.0             80.469616
837     1.501582   42.573792    1.0             42.573792
897     5.441648   48.285948    1.0             44.782965
943     3.048860   69.884611    2.0             63.873450
949     5.221950   51.506150    2.0             60.877232
974     2.206310   39.471107    1.0             43.932481
1022    3.013166   43.037264    1.0             42.383001
1109    1.813666   74.187798    2.0             63.873450
1146    1.955816   65.396490    2.0             63.201979
1165    3.861780   43.932481    1.0             43.932481
1195    9.698766   18.149267    1.0             35.043990
1231    1.457365   45.895518    1.0             45.731261
1284    1.694469  108.652615    3.0             82.060899
1335    5.766312  101.525664    1.0             35.507728
1353    1.633542   76.379553    3.0             79.874558
1368    1.873834   49.906410    1.0             44.802693
1401    4.812338   62.836350    2.0             63.873450
1403    1.723811   64.113270    2.0             57.879637
1437    3.625649   28.025001    1.0             43.285976
1502    5.144775   85.231540    1.0             42.573792
1505    5.635689   41.860561    1.0             43.932481
1506    2.915222   60.515595    2.0             62.383205
1558    2.814241   65.607027    2.0             63.201979
1567    3.791420   64.634129    2.0             63.201979
1625    3.740063   51.283501    1.0             43.932481
1653    3.922677   70.390408    3.0             81.879267
1709    1.465373   53.770069    1.0             45.731261
1749    2.456392   75.554221    2.0             63.873450
1782    4.773885   50.355342    1.0             38.981131
1851    4.104411   65.743437    2.0             62.383205
1871    5.199864   39.187587    2.0             65.127062
1987    2.712936   88.380732    3.0             82.153086
...          ...         ...    ...                   ...
2575    2.412620   44.219299    1.0             43.932481
2639    2.009251   81.722927    1.0             43.932481
2755    3.847175   86.159782    3.0             83.053562
2756    1.916947   50.262072    1.0             44.802693
2812    3.635647   80.535006    1.0             43.932481
2920    5.334520   96.995260    3.0             81.502126
2992    0.567267   66.469510    2.0             63.873450
3009    4.783499   44.729062    1.0             43.285976
3017    5.896024   66.284468    2.0                   NaN
3122    2.618971   62.072228    2.0             60.475900
3360    3.986053   69.921939    3.0             80.469616
3406    5.230383   66.922721    2.0             62.383205
3510    5.212356   69.122033    2.0             54.625896
3545    2.205485   35.560424    1.0             42.573792
3554    4.461721  110.203744    3.0             90.527166
3604    1.327007   64.673831    2.0             61.008112
3645    3.229646   34.885402    1.0             42.573792
3697    9.495367   13.305531    1.0             36.681628
3707    2.760090  106.977342    3.0             91.544821
3715    3.006017   38.931225    1.0             43.718832
3755    3.611568   48.688126    1.0             40.034190
3802    3.030300   79.248522    3.0             79.874558
3912    2.742068   56.600162    5.0             39.906082
3945    5.264993   65.897416    2.0             62.383205
3971    1.401829   81.620276    3.0             80.469616
4038    3.723031   66.674571    2.0             62.383205
4071    1.298379   79.084019    3.0             75.949984
4113    4.653351   40.965126    1.0             45.731261
4172    3.809525  139.708806    3.0            109.703068
4208    3.852400   48.481003    1.0             43.932481
4259    2.879671   46.718321    1.0             42.573792
4266    1.733644   97.241417    4.0             98.138510
4284    1.320439   53.606794    2.0             62.383205
4385    5.948005   42.098530    1.0             43.932481
4490    1.899119   42.573792    1.0             42.573792
4497    4.612265   40.113984    1.0             43.932481
4510    5.759837   40.140861    1.0             43.932481
4540    2.968086   43.932481    1.0             43.932481
4562    5.775697   50.411140    1.0             43.932481
4622    1.493588   79.494927    3.0             83.053562
4644    5.250792   65.759528    2.0             63.201979
4680    2.063415   76.884278    3.0             79.874558
4718    2.820279   76.607538    2.0             65.127062
4764    4.312838  103.114357    2.0             43.630225
4795    3.466208   42.491500    1.0             40.330637
4818    3.329216   79.114387    3.0             80.469616
4846    4.379317   82.624843    3.0             82.060899
4863    2.989508   76.709543    2.0             63.873450
4902    2.900371   40.330637    1.0             40.330637
4957    5.453158   68.794231    1.0             42.383001

[110 rows x 4 columns]

In [46]:
test.loc[test['LifeSquare'] < 10, 'LifeSquare'] = np.NaN

Заполнять пустые данные ниже

## Площадь кухни

### Больщие значения

Тоже будет нужен словарь средних значений, но много выбросов, сначала почистить их

In [47]:
train.loc[train['KitchenSquare'] > 35, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price', 'district_mean_square']]

,LifeSquare,Square,KitchenSquare,Rooms,Price,district_mean_square
452,19.278394,32.276663,1970.0,1,105539.556275,38.880155
472,138.004600,138.980817,43.0,3,169528.896664,83.053562
524,44.731219,79.722243,72.0,3,370148.625285,74.195073
1729,113.109653,116.405693,112.0,3,296165.936689,83.053562
2004,24.224435,42.983283,37.0,1,198450.736353,37.186682
2188,59.845092,61.070298,58.0,2,212188.959537,63.873450
2449,53.134243,51.440463,51.0,2,88150.012510,60.877232
2722,43.417043,46.013187,43.0,1,113909.099428,45.731261
2923,99.323558,97.490674,96.0,3,445074.956552,76.673483
3058,46.447960,47.100719,2014.0,1,108337.484207,45.731261
3066,NaN,64.859242,62.0,2,185993.474671,60.841150
3223,89.787666,139.070296,42.0,2,153946.777452,63.873450
3401,51.498581,54.418214,51.0,1,133273.635012,42.573792
3966,79.578961,79.810535,78.0,2,438708.707579,62.777773
4136,125.806981,123.430072,123.0,3,234194.837047,80.469616
4697,19.723548,38.071692,73.0,1,160488.033165,40.753112
4879,18.716856,38.220258,84.0,1,99079.960518,42.573792
4929,NaN,60.603363,58.0,2,261733.472106,60.843806
5866,112.589083,114.734473,112.0,3,315245.521059,91.544821
5880,57.510395,56.738764,54.0,2,244220.621495,60.843806
6173,22.487739,42.069359,39.0,1,200021.835127,40.034190
6319,37.834964,40.081042,37.0,1,93218.650461,42.573792
6518,33.959154,67.146049,63.0,2,193130.585871,60.877232
6621,44.779714,42.357487,41.0,1,194525.103119,40.736541

In [48]:
train.loc[train['KitchenSquare'] > 35, ['KitchenSquare']] = np.NaN

In [49]:
valid.loc[valid['KitchenSquare'] > 35, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price', 'district_mean_square']]

,LifeSquare,Square,KitchenSquare,Rooms,Price,district_mean_square
780,36.710539,36.138409,36.0,1,131742.536281,42.573792
1040,64.234956,68.841073,66.0,2,189244.249909,63.873450
1602,64.616662,66.787523,60.0,2,179466.094235,63.873450
1672,47.146757,78.445675,75.0,3,290354.484070,80.372619
1810,NaN,41.186904,41.0,1,216882.265408,40.034190
2105,42.835643,43.292516,40.0,1,117296.173704,42.573792
2605,32.644859,53.216778,53.0,2,261125.669724,NaN
2656,45.023531,48.128114,48.0,1,146950.912410,43.932481

In [50]:
valid.loc[valid['KitchenSquare'] > 35, ['KitchenSquare']] = np.NaN

In [51]:
test.loc[test['KitchenSquare'] > 35, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'district_mean_square']]

      LifeSquare      Square  KitchenSquare  Rooms  district_mean_square
40           NaN   62.326044           61.0    2.0             63.873450
803    89.790274  139.045763           42.0    5.0                   NaN
870    91.704806  141.540215           42.0    1.0             42.573792
1447   92.484098  138.039182           42.0    2.0             63.873450
1456   51.247581   69.358242           65.0    3.0             68.416428
1777  112.247841  112.114019          112.0    3.0             91.544821
1964   24.223770   42.795304          620.0    2.0             49.859195
3723   45.672140   41.951462           41.0    1.0             45.731261
3816   33.646726   60.988496           60.0    2.0             63.873450
3863   31.028707   43.926987           44.0    2.0             46.144367
3927   40.227011   46.827201           40.0    1.0             39.213575
4281   33.639611   66.099096           62.0    1.0             42.573792
4405   61.647531   59.054990           57.0    2.0             63.873450
4555   31.486308   54.629142           97.0    2.0             62.383205

In [52]:
test.loc[test['KitchenSquare'] > 35, 'KitchenSquare'] = np.NaN

### Поиск малых значений

In [53]:
train.loc[train['KitchenSquare'] < 2, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price', 'district_mean_square']]

,LifeSquare,Square,KitchenSquare,Rooms,Price,district_mean_square
3,98.152802,96.056784,1.0,3,524365.550705,81.502126
5,NaN,127.417560,0.0,3,282877.332154,91.544821
14,NaN,63.419553,1.0,1,325600.765809,40.330637
18,41.782263,42.106365,1.0,1,138632.726757,43.718832
20,NaN,104.446306,1.0,3,223692.672480,91.544821
21,NaN,81.097858,1.0,3,243193.220757,82.060899
22,35.287517,35.770587,1.0,1,72962.598347,43.285976
25,38.536728,42.648865,0.0,1,159350.917190,43.718832
31,NaN,64.139262,1.0,2,182427.132446,57.879637
33,81.668797,80.288769,0.0,3,181796.476207,81.665527
35,NaN,63.732524,1.0,2,182335.250567,62.383205
38,41.415222,41.524688,1.0,1,105953.257635,43.285976
39,NaN,68.896696,1.0,2,338780.798345,56.035256
42,NaN,55.927659,0.0,2,95744.167973,60.877232
46,NaN,63.714931,1.0,1,152263.886454,43.285976
48,NaN,57.791615,1.0,2,139531.575861,63.873450
49,68.325237,68.206948,1.0,2,285114.308471,51.882520
52,61.762322,61.673568,1.0,2,269906.912907,60.843806
53,NaN,67.214197,1.0,2,189629.517951,65.127062
54,38.075191,36.181445,0.0,1,88623.960046,42.573792
55,NaN,40.751535,1.0,1,137739.048804,44.521862
56,NaN,67.610000,0.0,2,187165.138671,62.383205
58,NaN,71.567578,0.0,2,159659.160189,67.876169
59,NaN,43.348103,1.0,1,113780.468103,43.285976
64,NaN,44.300632,0.0,1,118327.090620,42.573792
66,19.251596,40.781752,0.0,1,131026.307065,41.390529
67,NaN,60.085225,1.0,2,137285.697444,63.873450
71,NaN,64.571545,1.0,2,163498.908654,63.201979
73,NaN,39.559326,1.0,1,83407.975491,43.285976
77,NaN,41.423290,1.0,1,138751.645838,43.718832
79,39.071419,39.154100,0.0,1,133824.733993,43.718832
80,45.270251,47.004082,1.0,1,139794.609825,43.932481
82,68.614227,65.444497,0.0,2,146247.605596,63.873450
85,NaN,42.808105,1.0,1,135805.181590,43.718832
86,NaN,33.346258,1.0,1,65334.292569,43.285976
89,NaN,61.123031,1.0,2,203425.986544,63.201979
93,NaN,49.635712,1.0,1,146838.036852,47.918564
95,NaN,62.140932,1.0,2,169188.936898,60.841150
96,NaN,43.047682,1.0,1,168280.909527,43.718832
106,NaN,42.157405,0.0,1,126484.034415,44.802693
108,21.265494,41.698016,1.0,1,139819.678585,42.573792
109,NaN,51.201688,0.0,2,151151.321101,62.383205
112,76.775595,74.393929,0.0,2,187744.555119,67.876169
115,NaN,62.006079,1.0,1,197006.124188,43.718832
118,86.836992,85.726420,1.0,3,182964.744574,91.544821
130,37.626679,63.481406,0.0,2,192308.727939,63.873450
133,NaN,39.225914,1.0,1,271893.118572,40.330637
134,74.168816,81.461551,1.0,2,156131.897950,60.877232
135,75.476249,75.672952,1.0,2,573539.701956,53.756205
136,NaN,43.890560,0.0,1,146093.278363,43.718832
...,...,...,...,...,...,...
6850,110.333763,110.119100,1.0,3,491296.245173,98.065201
6853,NaN,84.250710,1.0,3,236647.781363,80.469616
6854,NaN,41.069085,0.0,1,117416.295033,43.285976
6863,NaN,62.738830,1.0,2,198697.496760,63.873450
6867,NaN,53.198317,1.0,2,83099.551369,60.877232
6870,NaN,54.551991,1.0,2,322544.371625,51.527458
6871,41.945460,38.555389,0.0,1,113277.591887,40.764461
6872,NaN,51.330209,1.0,2,105059.285225,60.877232
6875,NaN,62.576404,0.0,2,188644.907765,63.873450
6876,34.671697,32.797538,1.0,1,145780.190092,37.684398
6877,NaN,38.520283,1.0,1,137778.662626,40.249161
6880,NaN,82.983722,1.0,3,222592.176894,79.874558
6881,NaN,40.257605,1.0,1,96769.330478,43.285976
6886,NaN,46.655792,1.0,1,143327.711053,42.573792
6889,NaN,80.498532,1.0,3,215477.253159,79.874558
6890,NaN,38.936986,0.0,1,93560.789553,42.573792
6893,NaN,44.008402,1.0,1,124349.824728,45.731261
6894,NaN,81.094922,0.0,3,442472.456032,76.949438
6897,52.220180,54.451125,1.0,2,203578.361921,65.127062
6905,53.929465,55.312530,1.0,2,150680.814263,60.877232
6909,NaN,66.965769,1.0,2,185325.865350,57.879637
6914,NaN,64.141152,1.0,2,158148.936484,60.841150
6916,NaN,76.517679,1.0,2,175224.046032,63.873450
6923,NaN,57.717659,0.0,2,176072.619971,67.876169
6924,NaN,49.073548,1.0,1,155518.223364,43.932481
6925,NaN,44.131409,1.0,1,138202.240827,42.383001
6926,NaN,52.653623,1.0,1,188810.508549,46.656098
6930,NaN,61.221971,1.0,2,177351.068835,54.482308
6935,NaN,81.196247,0.0,3,235384.969986,82.060899
6936,51.135219,54.255191,0.0,1,147040.226120,42.573792
6937,NaN,45.592499,0.0,1,123553.869052,45.731261
6944,NaN,66.567026,1.0,2,224959.052511,63.201979
6950,NaN,52.445664,1.0,2,165025.848979,54.482308
6951,NaN,36.232303,1.0,1,65410.074769,43.285976
6953,NaN,39.409501,1.0,1,103396.866592,43.285976
6957,NaN,85.981043,0.0,3,215405.715698,82.060899
6960,NaN,65.088892,1.0,2,179525.641685,63.873450
6968,74.716290,75.081772,1.0,3,211523.600587,82.060899
6973,NaN,82.630590,0.0,3,221431.000082,80.469616
6974,NaN,83.978425,1.0,3,219577.830422,75.949984
6979,NaN,62.086918,1.0,2,148406.643824,63.873450
6981,52.593888,56.751532,1.0,2,110750.169067,60.877232
6982,NaN,27.442238,1.0,1,65547.071846,43.285976
6986,NaN,60.542162,1.0,2,297735.254938,51.882520
6988,NaN,29.947691,1.0,1,99110.577389,44.521862
6990,42.972991,43.880576,1.0,1,139897.079874,43.285976
6993,NaN,60.977922,1.0,2,132806.057204,63.873450
6995,62.405338,62.219340,1.0,2,150136.610509,65.127062
6996,NaN,85.790813,1.0,3,328680.869407,82.153086
6997,NaN,83.225854,1.0,3,255102.406709,82.060899

In [54]:
train.loc[train['KitchenSquare'] < 2, 'KitchenSquare'] = np.NaN

In [55]:
valid.loc[valid['KitchenSquare'] < 2, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price', 'district_mean_square']]

,LifeSquare,Square,KitchenSquare,Rooms,Price,district_mean_square
2,NaN,82.882978,1.0,3,219945.304640,79.874558
3,29.993297,33.863324,0.0,1,66883.280318,43.285976
4,NaN,43.095135,1.0,1,114086.065201,40.764461
7,30.155171,33.521641,1.0,1,381912.162109,39.503463
8,42.182049,40.696294,1.0,1,133072.279471,43.932481
14,43.429296,43.990708,0.0,1,158693.839439,47.918564
16,56.542921,58.959447,1.0,1,345310.951954,44.782965
19,NaN,53.317372,1.0,2,109890.139020,60.877232
21,NaN,60.001130,0.0,1,198345.433642,43.718832
23,NaN,47.347306,1.0,1,97300.152929,43.285976
24,NaN,71.924217,0.0,2,375417.950590,59.938799
26,67.791089,65.822202,1.0,2,186142.087144,60.841150
27,NaN,65.005220,1.0,2,194163.447594,63.873450
32,55.391092,53.088523,0.0,2,82733.315272,60.877232
40,32.409112,66.533903,1.0,2,183188.411729,59.938799
42,76.683322,78.901267,1.0,3,216138.702301,79.874558
45,NaN,60.503248,0.0,2,229778.057902,60.877232
46,NaN,39.856195,1.0,1,110736.010383,43.285976
47,NaN,66.829029,1.0,2,189266.166676,65.127062
49,NaN,91.256018,0.0,3,219223.203416,80.469616
56,NaN,77.598316,1.0,3,208372.832181,81.879267
62,104.359331,102.445231,1.0,3,215703.447498,81.879267
70,48.082068,48.878767,1.0,3,170574.393558,81.495764
71,NaN,85.730917,1.0,3,296595.178888,82.060899
78,NaN,88.575611,1.0,3,373788.403006,61.585713
81,NaN,43.033398,1.0,1,72659.971575,43.285976
83,94.732596,95.388336,1.0,3,463959.186348,81.502126
93,NaN,71.125280,0.0,2,166304.441613,67.876169
96,66.985614,68.845887,1.0,3,131459.249037,81.879267
98,NaN,65.045882,1.0,2,183489.358327,54.285100
102,79.035851,82.863402,1.0,3,334978.007559,87.440584
104,41.237865,39.470110,1.0,1,140585.830169,43.718832
105,NaN,41.804007,1.0,1,110861.448725,38.981131
107,NaN,29.706031,0.0,1,60502.583500,43.285976
112,NaN,61.257306,1.0,2,164174.456951,60.877232
113,41.968805,40.632456,1.0,1,122245.143456,42.573792
114,NaN,76.324182,0.0,2,181664.854951,67.876169
115,NaN,47.877111,1.0,1,148217.411958,42.573792
116,70.444991,74.086311,1.0,2,127695.860456,60.877232
117,NaN,38.651043,1.0,1,103210.010325,42.573792
119,NaN,66.506777,1.0,2,199071.286138,63.201979
121,NaN,41.804030,1.0,1,97206.026618,42.573792
124,NaN,49.952621,1.0,1,101734.462223,42.573792
128,NaN,64.871736,1.0,2,214948.980651,63.201979
133,NaN,77.793957,1.0,3,205890.628338,79.874558
135,30.738632,35.585538,1.0,1,62980.779024,43.285976
140,40.012529,42.367289,1.0,1,250466.980777,40.330637
142,NaN,50.022583,1.0,1,130720.196859,45.731261
146,100.201652,148.671938,1.0,2,152464.848743,60.877232
150,NaN,42.461318,1.0,1,120802.206776,44.521862
...,...,...,...,...,...,...
2849,NaN,81.416657,1.0,3,225627.980538,82.060899
2853,NaN,44.716015,1.0,1,122496.947161,42.383001
2854,NaN,53.835574,0.0,1,185976.351147,47.918564
2855,22.408822,38.856890,1.0,1,125387.984244,42.573792
2856,NaN,44.326797,1.0,1,141849.679286,42.573792
2857,51.385262,51.456042,1.0,1,260824.216465,44.782965
2859,NaN,51.953707,0.0,1,148682.719427,43.718832
2862,NaN,83.590446,1.0,3,315641.205620,87.440584
2864,55.815378,58.253909,1.0,2,149812.536640,63.873450
2865,80.101945,79.751355,1.0,3,244566.575493,82.060899
2866,NaN,36.715586,1.0,1,136316.548813,43.932481
2869,NaN,66.606100,1.0,2,168607.179189,60.877232
2879,NaN,66.349891,1.0,2,231218.646158,63.201979
2880,NaN,55.098678,1.0,2,160688.712348,63.201979
2883,NaN,81.521382,1.0,3,223620.373279,79.874558
2888,55.033788,57.788678,1.0,2,312993.339532,59.938799
2891,NaN,41.701204,1.0,1,95473.436986,44.521862
2892,30.392712,64.243023,1.0,2,181108.670831,63.873450
2894,36.851465,64.931527,1.0,2,185153.826734,63.873450
2896,NaN,56.978743,0.0,2,250175.781800,60.843806
2904,NaN,32.123837,0.0,1,178319.045661,33.997632
2906,NaN,49.541945,0.0,1,138060.937949,43.932481
2909,NaN,73.092686,1.0,2,159077.198056,67.876169
2911,NaN,40.575552,1.0,1,120833.421212,44.802693
2912,NaN,103.587261,0.0,3,225901.938089,80.469616
2915,54.542950,57.067083,1.0,1,317505.979250,86.740477
2916,NaN,64.365814,1.0,2,230641.602962,63.201979
2918,41.546357,40.826898,1.0,1,109303.831576,43.285976
2920,NaN,100.418743,1.0,4,309311.697054,170.288763
2921,NaN,44.545153,1.0,1,115889.560863,43.285976
2925,63.611892,60.026795,1.0,2,177896.144561,57.879637
2926,NaN,64.907445,1.0,2,155269.264075,60.877232
2928,NaN,39.918325,1.0,1,109274.645286,44.521862
2931,20.887309,47.694143,1.0,1,140592.784448,42.573792
2944,94.958481,93.905616,1.0,3,209500.276014,83.053562
2953,NaN,77.466387,1.0,3,196912.944529,82.060899
2954,48.042967,50.669271,1.0,1,135862.013120,40.627633
2956,NaN,66.144841,1.0,2,198699.423359,65.127062
2962,NaN,54.178590,1.0,2,155127.602423,65.127062
2965,40.597918,92.534730,1.0,3,163885.584506,81.495764
2967,65.979308,69.467801,1.0,2,333225.122285,51.882520
2970,NaN,83.591141,1.0,3,194044.705786,81.879267
2972,NaN,88.229716,1.0,3,263869.136156,81.879267
2973,NaN,113.250848,1.0,3,372244.403093,90.379837
2980,NaN,47.395358,1.0,1,168983.670745,44.521862
2982,78.922956,82.030903,0.0,3,211498.637627,79.874558
2991,NaN,52.524543,0.0,2,124265.932850,63.873450
2996,NaN,67.026174,1.0,2,154696.067043,63.873450
2997,NaN,51.954623,0.0,2,296550.564643,51.527458
2998,NaN,47.309137,1.0,1,114949.106711,44.802693

In [56]:
valid.loc[valid['KitchenSquare'] < 2, 'KitchenSquare'] = np.NaN

In [57]:
test.loc[test['KitchenSquare'] < 2, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price', 'district_mean_square']]

,LifeSquare,Square,KitchenSquare,Rooms,Price,district_mean_square
1,NaN,69.263183,1.0,2.0,NaN,75.421766
4,43.387569,47.527111,1.0,1.0,NaN,42.573792
5,NaN,40.675627,1.0,1.0,NaN,38.411975
6,64.843025,68.099538,1.0,2.0,NaN,60.877232
11,NaN,84.625350,1.0,3.0,NaN,79.874558
14,NaN,37.555197,1.0,1.0,NaN,42.573792
18,NaN,82.652818,1.0,3.0,NaN,80.469616
21,NaN,44.878767,1.0,1.0,NaN,43.718832
22,46.358356,83.670032,0.0,3.0,NaN,80.469616
24,NaN,69.849239,0.0,2.0,NaN,63.873450
27,48.752502,48.610661,1.0,1.0,NaN,44.802693
30,NaN,63.460684,0.0,2.0,NaN,62.383205
32,NaN,66.426585,0.0,1.0,NaN,43.718832
38,NaN,51.921491,1.0,2.0,NaN,60.841150
43,40.593036,37.484057,0.0,1.0,NaN,43.718832
46,NaN,42.899569,0.0,1.0,NaN,40.330637
50,NaN,38.269173,1.0,1.0,NaN,43.932481
59,NaN,44.254995,1.0,1.0,NaN,42.573792
62,NaN,66.203290,1.0,2.0,NaN,65.127062
65,37.236548,40.767892,1.0,1.0,NaN,40.034190
66,NaN,38.411975,1.0,1.0,NaN,38.411975
70,52.798349,52.449057,1.0,2.0,NaN,65.127062
71,NaN,85.911827,1.0,2.0,NaN,53.469022
72,NaN,99.112581,1.0,4.0,NaN,98.138510
74,NaN,45.885992,1.0,1.0,NaN,43.718832
77,NaN,59.927502,1.0,2.0,NaN,59.938799
78,NaN,122.375273,0.0,5.0,NaN,121.577423
81,NaN,99.614906,1.0,3.0,NaN,80.469616
82,NaN,61.610642,1.0,2.0,NaN,62.383205
83,69.010665,71.006730,1.0,2.0,NaN,53.215844
89,NaN,67.069295,1.0,2.0,NaN,63.873450
97,NaN,81.725331,0.0,3.0,NaN,79.874558
98,NaN,43.286141,0.0,1.0,NaN,43.932481
101,NaN,63.820166,0.0,2.0,NaN,63.201979
102,66.675758,65.582572,1.0,2.0,NaN,62.383205
109,39.013341,40.414996,1.0,1.0,NaN,44.521862
110,NaN,81.680369,0.0,3.0,NaN,82.060899
112,NaN,81.383554,1.0,3.0,NaN,82.060899
113,NaN,50.738045,0.0,1.0,NaN,44.521862
117,NaN,55.762383,1.0,2.0,NaN,60.877232
120,NaN,40.407390,0.0,1.0,NaN,42.573792
121,NaN,39.352386,1.0,1.0,NaN,43.932481
122,NaN,60.194363,1.0,2.0,NaN,56.035256
128,NaN,41.101204,0.0,1.0,NaN,43.932481
130,NaN,44.021356,0.0,1.0,NaN,45.731261
131,NaN,65.277268,1.0,2.0,NaN,60.877232
132,NaN,56.310351,0.0,3.0,NaN,80.469616
134,NaN,44.900715,0.0,1.0,NaN,43.932481
141,NaN,56.214048,1.0,2.0,NaN,56.035256
148,NaN,62.068885,1.0,2.0,NaN,62.383205
...,...,...,...,...,...,...
4846,NaN,82.624843,1.0,3.0,NaN,82.060899
4851,NaN,83.621965,1.0,3.0,NaN,79.874558
4856,NaN,69.196440,0.0,2.0,NaN,63.873450
4859,NaN,39.413780,1.0,1.0,NaN,43.718832
4863,NaN,76.709543,1.0,2.0,NaN,63.873450
4865,NaN,137.987412,1.0,3.0,NaN,109.703068
4867,NaN,60.465141,0.0,2.0,NaN,61.008112
4874,NaN,65.864217,1.0,2.0,NaN,60.877232
4877,NaN,105.369010,0.0,3.0,NaN,81.879267
4880,NaN,103.865542,1.0,2.0,NaN,67.876169
4881,NaN,78.310817,1.0,2.0,NaN,75.421766
4887,NaN,89.549559,0.0,3.0,NaN,72.602683
4888,47.435020,76.515289,1.0,3.0,NaN,76.949438
4892,NaN,49.205978,0.0,1.0,NaN,44.802693
4900,NaN,48.325574,1.0,1.0,NaN,43.718832
4902,NaN,40.330637,1.0,1.0,NaN,40.330637
4906,75.032680,78.176217,1.0,2.0,NaN,62.777773
4907,NaN,108.650465,1.0,3.0,NaN,80.469616
4908,46.924301,50.891741,0.0,2.0,NaN,60.877232
4910,NaN,47.660240,1.0,1.0,NaN,39.063677
4913,53.427529,54.605305,0.0,1.0,NaN,45.731261
4916,NaN,89.218062,0.0,3.0,NaN,80.469616
4919,63.340061,65.466927,1.0,2.0,NaN,59.938799
4922,NaN,49.520325,1.0,1.0,NaN,43.285976
4926,NaN,62.179269,1.0,2.0,NaN,62.383205
4927,79.958685,77.229885,1.0,3.0,NaN,82.060899
4928,NaN,77.214353,1.0,3.0,NaN,76.058932
4937,NaN,102.149271,1.0,3.0,NaN,81.879267
4941,NaN,67.104108,1.0,2.0,NaN,61.008112
4943,NaN,41.237969,0.0,1.0,NaN,43.718832
4945,NaN,41.225107,1.0,1.0,NaN,43.932481
4946,NaN,63.700028,1.0,2.0,NaN,60.877232
4949,NaN,66.269675,1.0,2.0,NaN,63.201979
4955,NaN,82.763109,1.0,3.0,NaN,72.971211
4956,NaN,38.756507,1.0,1.0,NaN,42.573792
4957,NaN,68.794231,1.0,1.0,NaN,42.383001
4958,NaN,94.876277,0.0,3.0,NaN,83.053562
4962,34.198977,33.680382,1.0,1.0,NaN,39.503463
4963,NaN,69.767181,1.0,2.0,NaN,63.201979
4968,66.903563,104.664209,1.0,4.0,NaN,170.288763
4969,82.585069,82.542507,0.0,2.0,NaN,75.421766
4972,37.003311,38.376234,1.0,1.0,NaN,44.521862
4973,NaN,38.916778,0.0,1.0,NaN,42.573792
4974,44.634608,44.442218,0.0,1.0,NaN,40.764461
4976,NaN,45.542940,0.0,1.0,NaN,41.850232
4982,38.187571,39.610426,1.0,1.0,NaN,43.285976
4985,NaN,46.597283,1.0,1.0,NaN,43.718832
4987,NaN,80.102103,1.0,3.0,NaN,74.715315
4998,NaN,81.305222,0.0,2.0,NaN,67.876169
4999,NaN,60.555693,1.0,2.0,NaN,65.127062

In [58]:
test.loc[test['KitchenSquare'] < 2, 'KitchenSquare'] = np.NaN

## Создание словаря для кухни и жилой площади

In [59]:
train_dict['district_mean_life'] = train.groupby(['DistrictId', 'Rooms'])[['LifeSquare']].mean().reset_index().rename(columns={'LifeSquare':'district_mean_life'})
train_dict['district_mean_kitchen'] = train.groupby(['DistrictId', 'Rooms'])[['KitchenSquare']].mean().reset_index().rename(columns={'KitchenSquare':'district_mean_kitchen'})

In [60]:
train.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,district_mean_square,district_mean_price,NotForLife
0,14604,23,1,41.681380,22.796166,8.0,14,17,2015,0.075779,B,B,6,1437,3,NaN,0,2,B,88504.384965,43.285976,102427.030975,0
1,5621,23,3,163.495333,161.504222,12.0,5,3,1977,0.014073,B,B,2,475,0,NaN,0,0,B,207007.956663,81.879267,165911.129700,0
2,235,87,1,39.710131,19.538663,8.0,4,17,1986,0.100456,B,B,43,7227,0,NaN,1,6,A,182126.280899,38.546775,169596.630515,0
3,16258,48,3,96.056784,98.152802,NaN,15,1,2017,0.041125,B,B,46,9515,5,NaN,1,10,B,524365.550705,81.502126,382424.639356,0
4,10773,77,3,79.195825,44.421062,10.0,16,17,1984,0.298205,B,B,16,4048,3,NaN,1,3,B,322048.433990,64.254910,251751.766701,0

In [61]:
train = pd.merge(train, train_dict['district_mean_life'], on=['DistrictId', 'Rooms'], how='left')
valid = pd.merge(valid, train_dict['district_mean_life'], on=['DistrictId', 'Rooms'], how='left')
test = pd.merge(test, train_dict['district_mean_life'], on=['DistrictId', 'Rooms'], how='left')

train = pd.merge(train, train_dict['district_mean_kitchen'], on=['DistrictId', 'Rooms'], how='left')
valid = pd.merge(valid, train_dict['district_mean_kitchen'], on=['DistrictId', 'Rooms'], how='left')
test = pd.merge(test, train_dict['district_mean_kitchen'], on=['DistrictId', 'Rooms'], how='left')

Вставка пропущенных значений

In [62]:
valid.loc[valid['district_mean_life'].isnull(),:]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,district_mean_square,NotForLife,district_mean_life,district_mean_kitchen
36,15288,46,4,105.436315,68.823042,10.0,23,22,1998,1.887838e-01,B,B,31,6137,4,NaN,0,1,B,405669.713224,NaN,0,NaN,NaN
43,4140,10,4,83.833387,64.946548,6.0,1,9,1969,8.903972e-02,B,B,33,7976,5,NaN,0,11,B,286261.566899,NaN,0,NaN,NaN
50,203,33,4,101.554252,22.630373,9.0,4,5,1958,5.194206e-02,B,B,17,4017,7,800.0,2,0,B,82342.775873,NaN,0,NaN,NaN
226,2418,154,3,95.564438,65.283248,9.0,5,5,1953,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,411403.672200,NaN,0,NaN,NaN
254,14825,152,3,88.978324,56.939045,12.0,7,7,1958,4.203159e-02,B,B,37,6856,84,1940.0,2,5,B,85499.969325,NaN,0,NaN,NaN
314,2129,46,4,102.929692,64.606835,10.0,21,22,1985,1.887838e-01,B,B,31,6137,4,NaN,0,1,B,344789.615286,NaN,0,NaN,NaN
338,3159,88,0,38.697117,19.345131,9.0,9,16,1982,1.273759e-01,B,B,43,8429,3,NaN,3,9,B,158998.110646,NaN,0,NaN,NaN
361,2795,178,1,29.648057,16.555363,5.0,3,5,1958,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,165953.912580,NaN,0,NaN,NaN
397,3837,41,4,69.039122,47.211759,6.0,10,9,1978,3.612229e-02,B,B,24,4378,0,1036.0,1,1,B,272097.771565,NaN,0,NaN,NaN
427,13857,41,4,64.740151,46.627687,5.0,4,9,1970,1.750549e-01,B,B,36,10055,3,NaN,1,0,B,270409.143159,NaN,0,NaN,NaN
429,15039,68,3,68.255319,47.474276,7.0,10,13,1971,0.000000e+00,B,B,33,7425,1,NaN,2,5,B,352335.196147,NaN,0,NaN,NaN
477,10855,50,1,35.534332,20.793259,6.0,6,9,1962,1.800000e-09,B,B,16,3681,73,1815.0,2,5,B,279638.120265,NaN,0,NaN,NaN
582,2935,154,3,78.792189,53.204669,9.0,3,5,1958,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,367001.438463,NaN,0,NaN,NaN
632,10922,161,2,59.507075,36.716736,10.0,13,20,2012,6.991190e-04,B,B,14,3369,24,4129.0,0,3,B,178115.587988,NaN,0,NaN,NaN
690,7275,95,4,99.039161,71.575839,11.0,2,3,1942,6.991190e-04,B,B,14,3369,24,4129.0,0,3,B,624156.003381,NaN,0,NaN,NaN
748,14702,178,4,82.623717,60.541682,7.0,3,7,1960,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,380689.471264,NaN,0,NaN,NaN
952,11381,160,4,79.415184,55.639280,8.0,5,14,1987,0.000000e+00,B,B,39,8647,0,810.0,0,5,B,302203.025177,NaN,0,NaN,NaN
955,3294,167,5,111.045799,81.940459,9.0,6,6,1940,5.027201e-02,B,B,21,4231,14,1020.0,0,3,B,513239.499082,NaN,0,NaN,NaN
1027,11200,66,4,66.123016,46.699336,5.0,7,9,1968,1.116274e-01,B,B,50,12238,8,1970.0,2,3,B,317086.211686,NaN,0,NaN,NaN
1042,11712,78,4,94.939863,54.752269,10.0,6,12,2001,2.190060e-01,B,B,28,6746,3,NaN,1,4,B,437706.650752,NaN,0,NaN,NaN
1124,10833,82,1,34.086406,24.681964,6.0,5,9,1964,3.731645e-02,B,B,32,6748,93,562.0,4,10,B,227251.862616,NaN,0,NaN,NaN
1171,15404,35,4,101.392298,66.600047,10.0,17,22,1998,8.903972e-02,B,B,33,7976,5,NaN,0,11,B,559215.446005,NaN,0,NaN,NaN
1273,13928,98,4,96.924231,62.806355,10.0,19,3,2006,1.957811e-01,B,B,23,5212,6,NaN,3,2,B,450946.459365,NaN,0,NaN,NaN
1470,1710,152,1,34.516510,22.343614,5.0,3,9,1966,4.203159e-02,B,B,37,6856,84,1940.0,2,5,B,227781.097269,NaN,0,NaN,NaN
1475,571,127,3,79.085961,45.230707,8.0,2,5,1958,4.862456e-01,B,B,13,2514,19,NaN,0,6,B,260118.697004,NaN,0,NaN,NaN
1599,9539,191,2,62.151844,33.720614,10.0,9,16,1985,1.273759e-01,B,B,43,8429,3,NaN,3,9,B,313741.659045,NaN,0,NaN,NaN
1685,5217,11,4,75.276046,54.955438,6.0,3,5,1957,2.258250e-01,A,B,41,6558,7,1548.0,3,2,B,313456.600262,NaN,0,NaN,NaN
1734,3454,8,5,112.135525,79.795451,10.0,4,17,1999,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,471833.787538,NaN,0,NaN,NaN
1807,601,133,3,83.197179,54.767352,8.0,8,8,1961,4.230727e-02,B,B,17,2810,9,4849.0,3,6,B,479612.525230,NaN,0,NaN,NaN
1849,11120,207,3,76.780960,55.770043,7.0,2,5,1931,1.800000e-09,B,B,16,3681,73,1815.0,2,5,B,426186.409334,NaN,0,NaN,NaN
1851,7613,193,3,74.160730,50.494994,8.0,5,5,1960,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,350956.508822,NaN,0,NaN,NaN
1860,340,103,4,100.501409,59.413974,10.0,3,14,2003,1.442311e-02,B,B,19,3806,4,NaN,0,3,B,593618.746096,NaN,0,NaN,NaN
1901,13071,152,3,56.041298,42.601258,5.0,4,9,1967,4.203159e-02,B,B,37,6856,84,1940.0,2,5,B,341383.114744,NaN,0,NaN,NaN
1909,14261,174,3,65.812757,48.988726,6.0,5,7,1935,7.815280e-05,B,B,22,6398,141,1046.0,3,23,B,421851.953639,NaN,0,NaN,NaN
1941,1268,159,4,88.947262,64.483490,7.0,6,6,1933,2.466236e-01,B,B,14,2940,45,NaN,3,6,B,429825.896082,NaN,0,NaN,NaN
1957,4971,169,5,117.855969,76.561318,9.0,12,14,2001,1.789168e-01,B,B,18,3594,4,192.0,1,5,B,608674.130507,NaN,0,NaN,NaN
1974,16241,187,2,57.543298,32.682124,9.0,9,9,1998,4.111635e-02,B,B,53,14892,4,NaN,1,4,B,234296.844855,NaN,0,NaN,NaN
1987,338,46,5,147.709302,NaN,NaN,6,0,1977,1.508175e-01,B,B,16,3433,4,2643.0,4,5,B,352168.955975,NaN,1,NaN,NaN
2025,15391,184,3,64.048840,42.844486,6.0,4,5,1928,2.466236e-01,B,B,14,2940,45,NaN,3,6,B,324303.812481,NaN,0,NaN,NaN
2140,154,68,3,67.416230,47.768505,6.0,8,12,1973,0.000000e+00,B,B,33,7425,1,NaN,2,5,B,325093.485064,NaN,0,NaN,NaN
2155,14419,132,3,65.869120,48.614093,7.0,8,16,1973,7.658515e-03,B,B,35,7077,56,2301.0,3,19,B,383565.615120,NaN,0,NaN,NaN
2218,4772,168,4,121.220631,68.714605,14.0,3,2,2017,3.410719e-01,B,B,27,5664,48,2300.0,3,11,B,233171.228610,NaN,0,NaN,NaN
2253,7931,181,1,34.911269,18.433155,6.0,10,12,1955,0.000000e+00,B,B,8,1423,37,562.0,1,8,B,397528.736061,NaN,0,NaN,NaN
2282,8863,202,3,94.137489,58.713118,9.0,4,7,1983,0.000000e+00,B,B,30,7538,87,4702.0,5,5,B,286215.863552,NaN,0,NaN,NaN
2294,8428,133,3,81.654026,56.918653,9.0,7,11,1959,4.230727e-02,B,B,17,2810,9,4849.0,3,6,B,474671.844897,NaN,0,NaN,NaN
2308,3652,113,4,105.811302,63.908594,10.0,22,22,2005,5.075557e-02,B,B,24,5469,1,145.0,0,1,B,527497.223755,NaN,0,NaN,NaN
2371,4249,23,5,198.930182,123.139863,10.0,1,2,2011,1.407296e-02,B,B,2,475,0,NaN,0,0,B,345665.209100,NaN,0,NaN,NaN
2381,12856,127,3,61.399863,46.596720,6.0,10,9,1972,4.862456e-01,B,B,13,2514,19,NaN,0,6,B,202564.600907,NaN,0,NaN,NaN
2445,7466,141,1,36.067062,21.460674,6.0,10,9,1971,6.991190e-04,B,B,14,3369,24,4129.0,0,3,B,233500.341391,NaN,0,NaN,NaN
2449,3624,179,3,86.643824,57.727493,10.0,6,12,2003,3.731645e-02,B,B,32,6748,93,562.0,4,10,B,452985.516682,NaN,0,NaN,NaN
2550,4586,196,2,47.080098,28.525317,6.0,3,10,1966,0.000000e+00,B,B,30,7538,87,4702.0,5,5,B,336584.118092,NaN,0,NaN,NaN
2605,4265,161,2,53.216778,32.644859,NaN,7,17,1994,6.991190e-04,B,B,14,3369,24,4129.0,0,3,B,261125.669724,NaN,0,NaN,NaN
2648,9430,11,4,78.195309,50.138889,7.0,3,5,1960,2.258250e-01,A,B,41,6558,7,1548.0,3,2,B,323287.068180,NaN,0,NaN,NaN
2874,8953,136,1,40.901231,19.736669,9.0,16,14,1974,1.950880e-02,B,B,37,7687,11,176.0,5,5,B,231960.056451,NaN,0,NaN,NaN
2952,9713,194,4,76.418956,56.256401,7.0,4,4,1961,1.747391e-01,B,B,17,3379,9,100.0,0,3,B,319659.324785,NaN,0,NaN,NaN

In [63]:
def mean_null(df, tdf, lbl):
    for i in range(0, 11):
        df.loc[(df[lbl].isnull()) & (df['Rooms'] == i), lbl] = tdf.loc[tdf['Rooms'] == i, lbl].mean()
        df.loc[(df[lbl].isnull()) & (df['Rooms'] == i), lbl] = tdf[lbl].mean()
    return df

In [64]:
train = mean_null(train, train, 'district_mean_square')
valid = mean_null(valid, train, 'district_mean_square')
test = mean_null(test, train, 'district_mean_square')

train = mean_null(train, train, 'district_mean_kitchen')
valid = mean_null(valid, train, 'district_mean_kitchen')
test = mean_null(test, train, 'district_mean_kitchen')

train = mean_null(train, train, 'district_mean_life')
valid = mean_null(valid, train, 'district_mean_life')
test = mean_null(test, train, 'district_mean_life')

In [65]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 23 columns):
Id                       5000 non-null int64
DistrictId               5000 non-null int64
Rooms                    5000 non-null float64
Square                   5000 non-null float64
LifeSquare               3848 non-null float64
KitchenSquare            3460 non-null float64
Floor                    5000 non-null int64
HouseFloor               5000 non-null float64
HouseYear                5000 non-null int64
Ecology_1                5000 non-null float64
Ecology_2                5000 non-null object
Ecology_3                5000 non-null object
Social_1                 5000 non-null int64
Social_2                 5000 non-null int64
Social_3                 5000 non-null int64
Healthcare_1             2623 non-null float64
Helthcare_2              5000 non-null int64
Shops_1                  5000 non-null int64
Shops_2                  5000 non-null object
district_mean_square     5000 non-null float64
NotForLife               5000 non-null int32
district_mean_life       5000 non-null float64
district_mean_kitchen    5000 non-null float64
dtypes: float64(10), int32(1), int64(9), object(3)
memory usage: 918.0+ KB

In [66]:
train.loc[train['Rooms'] == 0, ['district_mean_life']].mean()

district_mean_life    136.215499
dtype: float64

In [67]:
train.loc[train['NotForLife'] == 1, ['KitchenSquare', 'LifeSquare']]

      KitchenSquare  LifeSquare
5               NaN         NaN
42              NaN         NaN
56              NaN         NaN
58              NaN         NaN
64              NaN         NaN
106             NaN         NaN
109             NaN         NaN
136             NaN         NaN
164             NaN         NaN
205             NaN         NaN
214             NaN         NaN
237             NaN         NaN
238             NaN         NaN
251             NaN         NaN
277             NaN         NaN
286             NaN         NaN
337             NaN         NaN
343             NaN         NaN
361             NaN         NaN
371             NaN         NaN
391             NaN         NaN
430             NaN         NaN
436             NaN         NaN
442             NaN         NaN
460             NaN         NaN
537             NaN         NaN
565             NaN         NaN
580             NaN         NaN
588             NaN         NaN
591             NaN         NaN
617             NaN         NaN
624             NaN         NaN
630             NaN         NaN
634             NaN         NaN
700             NaN         NaN
717             NaN         NaN
720             NaN         NaN
725             NaN         NaN
727             NaN         NaN
756             NaN         NaN
782             NaN         NaN
796             NaN         NaN
806             NaN         NaN
808             NaN         NaN
826             NaN         NaN
840             NaN         NaN
891             NaN         NaN
963             NaN         NaN
970             NaN         NaN
1037            NaN         NaN
...             ...         ...
5909            NaN         NaN
5918            NaN         NaN
5940            NaN         NaN
5946            NaN         NaN
5976            NaN         NaN
6019            NaN         NaN
6039            NaN         NaN
6053            NaN         NaN
6059            NaN         NaN
6092            NaN         NaN
6100            NaN         NaN
6131            NaN         NaN
6143            NaN         NaN
6151            NaN         NaN
6162            NaN         NaN
6178            NaN         NaN
6251            NaN         NaN
6273            NaN         NaN
6281            NaN         NaN
6305            NaN         NaN
6347            NaN         NaN
6374            NaN         NaN
6384            NaN         NaN
6392            NaN         NaN
6409            NaN         NaN
6419            NaN         NaN
6436            NaN         NaN
6445            NaN         NaN
6517            NaN         NaN
6561            NaN         NaN
6583            NaN         NaN
6643            NaN         NaN
6646            NaN         NaN
6667            NaN         NaN
6721            NaN         NaN
6738            NaN         NaN
6740            NaN         NaN
6763            NaN         NaN
6785            NaN         NaN
6794            NaN         NaN
6829            NaN         NaN
6832            NaN         NaN
6854            NaN         NaN
6875            NaN         NaN
6894            NaN         NaN
6923            NaN         NaN
6935            NaN         NaN
6937            NaN         NaN
6957            NaN         NaN
6973            NaN         NaN

[334 rows x 2 columns]

Для жилых средние значения

In [68]:
train.loc[train['LifeSquare'].isnull(), 'LifeSquare'] = train['district_mean_life']
valid.loc[valid['LifeSquare'].isnull(), 'LifeSquare'] = valid['district_mean_life']
test.loc[test['LifeSquare'].isnull(), 'LifeSquare'] = test['district_mean_life']

train.loc[train['KitchenSquare'].isnull(), 'KitchenSquare'] = train['district_mean_kitchen']
valid.loc[valid['KitchenSquare'].isnull(), 'KitchenSquare'] = valid['district_mean_kitchen']
test.loc[test['KitchenSquare'].isnull(), 'KitchenSquare'] = test['district_mean_kitchen']

## Год постройки

In [69]:
train.loc[train['HouseYear'] > 2020, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price','HouseYear','DistrictId','Id']]

,LifeSquare,Square,KitchenSquare,Rooms,Price,HouseYear,DistrictId,Id
556,28.360393,44.791836,5.0,2,243028.603096,4968,147,11607
3507,20.239714,37.265070,9.0,1,254084.534396,20052011,109,10814

In [70]:
train.loc[train['Id'] == 11607, ['HouseYear']] = np.NaN
train.loc[train['Id'] == 10814, ['HouseYear']] = np.NaN

In [71]:
valid.loc[valid['HouseYear'] > 2020, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price','HouseYear']]

Empty DataFrame
Columns: [LifeSquare, Square, KitchenSquare, Rooms, Price, HouseYear]
Index: []

In [72]:
test.loc[test['HouseYear'] > 2020, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price','HouseYear']]

Empty DataFrame
Columns: [LifeSquare, Square, KitchenSquare, Rooms, Price, HouseYear]
Index: []

In [73]:
train.loc[train['HouseYear'] == 1970, ['LifeSquare', 'Square', 'KitchenSquare', 'Rooms', 'Price','HouseYear']]

      LifeSquare     Square  KitchenSquare  Rooms          Price  HouseYear
10     38.101494  52.264434           10.0      3  216094.268430     1970.0
78     27.954508  39.219848            6.0      2  162479.802200     1970.0
166    15.170851  18.509177            3.0      1  115845.861527     1970.0
189    20.852488  36.248642           10.0      1  200188.350556     1970.0
217    25.729218  43.183440            6.0      2  203646.504266     1970.0
257    31.581990  51.767198            8.0      2  238730.475489     1970.0
280    17.397469  35.314481            9.0      1  155751.134433     1970.0
500    22.060771  36.484660            6.0      1  186422.947885     1970.0
513    23.603388  35.714199            6.0      1  161307.525554     1970.0
584    30.481246  45.784688            5.0      2  225146.019331     1970.0
673    21.045252  34.325329            9.0      1  148532.760146     1970.0
674    32.993905  49.214547            7.0      2  268138.670276     1970.0
733    21.502248  33.257439            6.0      1  109844.445495     1970.0
752    30.213765  50.102839            6.0      2  188774.351894     1970.0
765    44.126224  62.086353            5.0      3  255033.730850     1970.0
904    55.627106  72.357021            5.0      3  349370.324979     1970.0
945    26.308175  42.325368            6.0      2  192069.555143     1970.0
975    20.215057  34.691863            6.0      1  174927.406197     1970.0
1010   19.119118  36.148198            9.0      1  173783.208526     1970.0
1140   45.087221  60.700694            6.0      3  211387.173697     1970.0
1151   29.856169  46.581231            6.0      2  231554.496978     1970.0
1153   23.250088  40.660667            9.0      1  182272.610174     1970.0
1231   31.814202  42.802897            5.0      2  240871.229758     1970.0
1232   22.764863  38.262311            9.0      1  217084.400271     1970.0
1286   19.309902  35.288204            9.0      1  155277.477633     1970.0
1308   45.456956  61.708595            5.0      3  250913.153054     1970.0
1313   21.298503  34.884511            6.0      1  170996.036686     1970.0
1339   45.456497  61.895496            5.0      3  255420.565456     1970.0
1355   39.105541  60.552194            5.0      3  216133.463865     1970.0
1365   40.152003  58.119603            6.0      3  267645.850275     1970.0
1487   27.331654  47.864544            5.0      2  194443.067205     1970.0
1730   43.435512  58.576289            5.0      3  263000.360321     1970.0
1786   24.607836  37.647219            6.0      1  147514.719429     1970.0
1818   15.146290  25.494402            5.0      1  146005.788606     1970.0
1900   30.703220  48.162305            6.0      2  244161.119627     1970.0
1928   32.196190  47.395672            5.0      2  215842.767189     1970.0
1935   19.860207  35.301907            6.0      1  147260.542151     1970.0
1956   19.248314  27.552992            5.0      1  162639.909412     1970.0
1974   21.253516  31.317590            6.0      1  174852.193471     1970.0
2005   20.822170  35.938093            9.0      1  254067.669058     1970.0
2058   22.662954  42.396336            9.0      1  203820.489771     1970.0
2065   53.649180  74.172280            6.0      4  338641.240284     1970.0
2077   31.005274  47.603455            6.0      2  168221.983342     1970.0
2088   35.347848  53.989954            6.0      2  307297.046849     1970.0
2162   23.074563  40.183758            6.0      2  166642.571352     1970.0
2202   21.502835  33.479009            5.0      1  186424.180662     1970.0
2228   19.842905  33.675064            6.0      1  161201.761205     1970.0
2229   46.417029  59.300287            6.0      3  103868.779402     1970.0
2342   43.557635  62.151384            6.0      3  165392.599593     1970.0
2372   27.587619  44.591746            6.0      2  217632.304477     1970.0
...          ...        ...            ...    ...            ...        ...
4286   41.453844  56.921437            6.0      3  259125.217099     1970.0
4340   25.725805  41.317152            6.0      2  199690.649388     1970.0
4388   20.977469  38.777728            6.0      2  186442.500209     1970.0
4395   51.399172  68.092572            6.0      4  294405.899542     1970.0
4457   25.714105  40.717644            6.0      1  172357.598726     1970.0
4503   28.407463  45.784302            5.0      2  187426.395966     1970.0
4553   27.577562  43.183945            5.0      2   91660.877684     1970.0
4574   41.241412  57.275458            5.0      3  260563.602716     1970.0
4615   33.394677  49.160215            5.0      2  196494.967933     1970.0
4616   30.912387  46.712538            5.0      2  231778.501144     1970.0
4680   27.772493  42.283342            6.0      2  200197.968432     1970.0
4721   25.906198  35.479620            5.0      1  150719.256939     1970.0
4784   18.738042  36.430095            9.0      1  170108.140818     1970.0
4787   25.829775  42.875257            6.0      2  209133.660055     1970.0
4830   62.701370  60.315001            6.0      3  193637.668259     1970.0
4833   37.923929  56.653146            5.0      3  236557.233238     1970.0
4992   25.732223  37.903885            6.0      2  151159.074308     1970.0
4997   29.115894  46.488521            6.0      2  197795.571830     1970.0
5002   44.136053  64.914326            7.0      3  284538.758574     1970.0
5057   26.688804  38.794109            6.0      2  210048.318795     1970.0
5059   19.319683  35.440815            6.0      1  168032.889516     1970.0
5108   22.624396  40.829855            6.0      2  245219.185437     1970.0
5199   25.273972  43.603730            6.0      2  218127.627871     1970.0
5270   13.147334  33.101922            5.0      1  172925.540694     1970.0
5406   34.603687  53.430413            6.0      3  220804.817110     1970.0
5420   28.642823  47.741510            5.0      2   85293.618720     1970.0
5606   32.553865  48.193483            5.0      1  211001.315624     1970.0
5675   31.051408  45.700235            5.0      2  208506.204516     1970.0
5739   51.480427  70.726600            7.0      4  301800.156753     1970.0
5762   28.052546  44.793231            5.0      2  216816.043042     1970.0
5763   27.733724  46.124024            5.0      2  193584.537274     1970.0
5788   29.870671  43.068679            5.0      2  164773.174748     1970.0
5841   33.167547  48.177862            5.0      2  270687.902692     1970.0
5892   32.379242  49.712886            6.0      2  216147.957480     1970.0
5953   26.001446  42.708110            6.0      2  204667.927606     1970.0
6044   23.829106  42.000167            7.0      2  116999.465142     1970.0
6105   19.952758  36.389470            6.0      1  157562.157696     1970.0
6115   31.538659  46.839067            5.0      2  186983.021586     1970.0
6217   41.423018  63.787858            8.0      3  259507.940697     1970.0
6359   31.888396  45.363892            6.0      2  189132.246105     1970.0
6456   21.518974  33.725182            6.0      1  141841.803285     1970.0
6522   28.087060  45.438425            5.0      2  214944.619599     1970.0
6637   22.803627  39.219865            7.0      2  234421.454601     1970.0
6717   27.145355  48.415170            6.0      2  209554.999892     1970.0
6719   43.705459  61.350045            5.0      3  318654.563617     1970.0
6768   21.606262  33.725220            5.0      1  151827.177876     1970.0
6789   39.845954  55.082103            6.0      3  252199.268443     1970.0
6804   19.461080  30.759095            5.0      1  144418.536080     1970.0
6834   27.523885  47.083132            5.0      2  183046.534725     1970.0
6857   23.217497  36.280271            9.0      1  162688.699400     1970.0

[130 rows x 6 columns]

In [74]:
train.loc[train['HouseYear'] == 1970, ['HouseYear']] = np.NaN
valid.loc[valid['HouseYear'] == 1970, ['HouseYear']] = np.NaN
test.loc[test['HouseYear'] == 1970, ['HouseYear']] = np.NaN

train.loc[train['HouseYear'] == 1977, ['HouseYear']] = np.NaN
valid.loc[valid['HouseYear'] == 1977, ['HouseYear']] = np.NaN
test.loc[test['HouseYear'] == 1977, ['HouseYear']] = np.NaN

In [75]:
train_dict['district_mean_year'] = train.groupby('DistrictId')[['HouseYear']].mean().reset_index().rename(columns={'HouseYear':'district_mean_year'}).round().sort_values(by='district_mean_year')

In [76]:
train = pd.merge(train, train_dict['district_mean_year'], on=['DistrictId'], how='left')
valid = pd.merge(valid, train_dict['district_mean_year'], on=['DistrictId'], how='left')
test = pd.merge(test, train_dict['district_mean_year'], on=['DistrictId'], how='left')

In [77]:
train.loc[train['district_mean_year'].isnull(), 'district_mean_year'] = train['district_mean_year'].mean()
valid.loc[valid['district_mean_year'].isnull(), 'district_mean_year'] = train['district_mean_year'].mean()
test.loc[test['district_mean_year'].isnull(), 'district_mean_year'] = train['district_mean_year'].mean()

train.loc[train['HouseYear'].isnull(), 'HouseYear'] = train['district_mean_year']
valid.loc[valid['HouseYear'].isnull(), 'HouseYear'] = valid['district_mean_year']
test.loc[test['HouseYear'].isnull(), 'HouseYear'] = test['district_mean_year']

In [78]:
plt.figure(figsize=(8, 6))
plt.hist(train['HouseYear'], bins=60)
plt.xlabel('HouseYear')
plt.ylabel('Price')

Text(0, 0.5, 'Price')

## Этаж

In [79]:
train.loc[train['Floor'] > 30, ['Floor', 'HouseFloor','HouseYear', 'Rooms', 'Price', 'DistrictId','Id']]

      Floor  HouseFloor  HouseYear  Rooms          Price  DistrictId     Id
1162     32          32     2008.0      1   97480.845791           8  11563
1558     31          44     2009.0      1  117647.461002          30   6589
2339     42          48     2016.0      2  411691.504766          76   1674
5536     33          40     1979.0      1  389554.063540          31   8016
6401     32          40     1979.0      1  393799.531732          31   3298

In [80]:
valid.loc[valid['Floor'] > 30, ['Floor', 'HouseFloor','HouseYear', 'Rooms', 'Price', 'DistrictId','Id']]

      Floor  HouseFloor  HouseYear  Rooms          Price  DistrictId    Id
1660     37          38     2012.0      1  269113.584248         146  8296

In [81]:
test.loc[test['Floor'] > 30, ['Floor', 'HouseFloor','HouseYear', 'Rooms', 'Price', 'DistrictId','Id']]

      Floor  HouseFloor  HouseYear  Rooms  Price  DistrictId     Id
1587     38        48.0     2010.0    2.0    NaN          76   5707
3585     33        40.0     2014.0    2.0    NaN          31   4533
3711     46        48.0     2002.0    2.0    NaN          76    414
3909     32        48.0     2011.0    3.0    NaN          76   1397
4192     32        32.0     2009.0    1.0    NaN           8  13970
4549     31        40.0     2012.0    2.0    NaN          31  16166
4698     78        22.0     1989.0    2.0    NaN          17  15759
4764     34        37.0     2015.0    2.0    NaN          72   2461

In [82]:
train.loc[train['HouseFloor'] >= 50, ['Floor', 'HouseFloor','HouseYear', 'Rooms', 'Price', 'DistrictId','Id']]

      Floor  HouseFloor  HouseYear  Rooms          Price  DistrictId     Id
501       8         117     2011.0      2  207248.370520          30     78
1149      6          99     1980.0      1  296127.115515           5  10806
3201      5          99     2010.0      2  243329.912579          74   9300

In [83]:
train.loc[train['Id'] == 78, ['HouseFloor']] = train.loc[train['DistrictId'] == 30]['HouseFloor'].mean().round()
train.loc[train['Id'] == 10806, ['HouseFloor']] = train.loc[train['DistrictId'] == 5]['HouseFloor'].mean().round()
train.loc[train['Id'] == 9300, ['HouseFloor']] = train.loc[train['DistrictId'] == 74]['HouseFloor'].mean().round()
train.loc[train['Id'] == 9300, ['HouseFloor', 'Floor']]

      HouseFloor  Floor
3201        13.0      5

In [84]:
valid.loc[valid['HouseFloor'] >= 50, ['Floor', 'HouseFloor','HouseYear', 'Rooms', 'Price', 'DistrictId','Id']]

Empty DataFrame
Columns: [Floor, HouseFloor, HouseYear, Rooms, Price, DistrictId, Id]
Index: []

In [85]:
test.loc[test['HouseFloor'] >= 50, ['Floor', 'HouseFloor','HouseYear', 'Rooms', 'Price', 'DistrictId','Id']]

     Floor  HouseFloor  HouseYear  Rooms  Price  DistrictId     Id
651     18        99.0     2011.0    3.0    NaN          27  15864

In [86]:
test.loc[test['Id'] == 15864, ['HouseFloor']] = 18
test.loc[test['Id'] == 15864, ['HouseFloor']]

     HouseFloor
651        18.0

# Поиск ошибок в данных

Жилая площадь больше, чем общая площадь

In [87]:
train.loc[train['LifeSquare'] > train['Square']].head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,district_mean_square,district_mean_price,NotForLife,district_mean_life,district_mean_kitchen,district_mean_year
3,16258,48,3,96.056784,98.152802,8.846154,15,1.0,2017.0,0.041125,B,B,46,9515,5,NaN,1,10,B,524365.550705,81.502126,382424.639356,0,56.858900,8.846154,1996.0
33,3207,52,3,80.288769,81.668797,10.700000,10,17.0,1998.0,0.371149,B,B,34,7065,1,750.0,2,5,B,181796.476207,81.665527,240457.574075,0,60.476441,10.700000,1998.0
49,11775,37,2,68.206948,68.325237,6.920000,3,9.0,2016.0,0.178917,B,B,18,3594,4,192.0,1,5,B,285114.308471,51.882520,227208.331700,0,33.519890,6.920000,1980.0
52,2150,34,2,61.673568,61.762322,9.642857,14,14.0,2018.0,0.069753,B,B,53,13670,4,NaN,1,11,B,269906.912907,60.843806,269744.824468,0,51.519670,9.642857,2010.0
54,12863,27,1,36.181445,38.075191,9.647619,2,12.0,2011.0,0.011654,B,B,4,915,0,NaN,0,0,B,88623.960046,42.573792,123555.916178,0,30.800915,9.647619,2011.0

In [88]:
train.loc[train['KitchenSquare'] > train['Square']].head()

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price, district_mean_square, district_mean_price, NotForLife, district_mean_life, district_mean_kitchen, district_mean_year]
Index: []

In [89]:
train['LifeSquareError'] = (train['LifeSquare'] > train['Square']).astype(int)
valid['LifeSquareError'] = (valid['LifeSquare'] > valid['Square']).astype(int)
test['LifeSquareError'] = (test['LifeSquare'] > test['Square']).astype(int)

In [90]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 2999
Data columns (total 26 columns):
Id                       3000 non-null int64
DistrictId               3000 non-null int64
Rooms                    3000 non-null int64
Square                   3000 non-null float64
LifeSquare               3000 non-null float64
KitchenSquare            3000 non-null float64
Floor                    3000 non-null int64
HouseFloor               3000 non-null int64
HouseYear                3000 non-null float64
Ecology_1                3000 non-null float64
Ecology_2                3000 non-null object
Ecology_3                3000 non-null object
Social_1                 3000 non-null int64
Social_2                 3000 non-null int64
Social_3                 3000 non-null int64
Healthcare_1             1560 non-null float64
Helthcare_2              3000 non-null int64
Shops_1                  3000 non-null int64
Shops_2                  3000 non-null object
Price                    3000 non-null float64
district_mean_square     3000 non-null float64
NotForLife               3000 non-null int32
district_mean_life       3000 non-null float64
district_mean_kitchen    3000 non-null float64
district_mean_year       3000 non-null float64
LifeSquareError          3000 non-null int32
dtypes: float64(11), int32(2), int64(10), object(3)
memory usage: 689.4+ KB

## Healthcare_1

In [91]:
train.loc[train['Healthcare_1'].isnull(), :]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,district_mean_square,district_mean_price,NotForLife,district_mean_life,district_mean_kitchen,district_mean_year,LifeSquareError
0,14604,23,1,41.681380,22.796166,8.000000,14,17.0,2015.0,0.075779,B,B,6,1437,3,NaN,0,2,B,88504.384965,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
1,5621,23,3,163.495333,161.504222,12.000000,5,3.0,2014.0,0.014073,B,B,2,475,0,NaN,0,0,B,207007.956663,81.879267,165911.129700,0,67.116253,11.500000,2014.0,0
2,235,87,1,39.710131,19.538663,8.000000,4,17.0,1986.0,0.100456,B,B,43,7227,0,NaN,1,6,A,182126.280899,38.546775,169596.630515,0,20.599846,8.200000,1985.0,0
3,16258,48,3,96.056784,98.152802,8.846154,15,1.0,2017.0,0.041125,B,B,46,9515,5,NaN,1,10,B,524365.550705,81.502126,382424.639356,0,56.858900,8.846154,1996.0,1
4,10773,77,3,79.195825,44.421062,10.000000,16,17.0,1984.0,0.298205,B,B,16,4048,3,NaN,1,3,B,322048.433990,64.254910,251751.766701,0,42.415402,6.666667,1978.0,0
5,3766,62,3,127.417560,83.067100,9.636364,9,0.0,2008.0,0.072158,B,B,2,629,1,NaN,0,0,A,282877.332154,91.544821,233071.158889,1,83.067100,9.636364,2008.0,0
6,11463,129,3,72.953912,39.478723,9.000000,16,15.0,1991.0,0.460556,B,B,20,4386,14,NaN,1,5,B,358129.914474,74.629086,341425.507617,0,47.477672,7.636364,1977.0,0
13,9347,27,1,46.513651,21.032802,14.000000,7,6.0,2011.0,0.075424,B,B,11,3097,0,NaN,0,0,B,124345.245905,42.573792,123555.916178,0,30.800915,9.647619,2011.0,0
14,8849,45,1,63.419553,29.090565,7.384615,3,1.0,1995.0,0.195781,B,B,23,5212,6,NaN,3,2,B,325600.765809,40.330637,228773.187700,0,29.090565,7.384615,1995.0,0
15,4081,55,2,54.267397,33.953791,9.000000,17,17.0,1987.0,0.041365,B,B,31,5569,0,NaN,1,4,B,239628.452311,53.972975,220901.459337,0,32.791522,8.384615,1991.0,0
16,15259,41,2,52.249040,34.172055,9.000000,3,12.0,2008.0,0.175055,B,B,36,10055,3,NaN,1,0,B,261238.418527,50.416635,215382.194332,0,30.503172,7.190476,1984.0,0
17,16202,105,1,22.072457,16.540036,2.000000,4,9.0,1963.0,0.069660,B,B,31,6119,4,NaN,1,2,B,126778.794309,34.522755,168690.122902,0,20.623772,6.000000,1969.0,0
18,15980,1,1,42.106365,41.782263,9.097561,15,1.0,2019.0,0.007122,B,B,1,264,0,NaN,0,1,B,138632.726757,43.718832,147116.367405,0,35.070845,9.097561,2008.0,0
20,11989,62,3,104.446306,83.067100,9.636364,12,15.0,2015.0,0.072158,B,B,2,629,1,NaN,0,0,A,223692.672480,91.544821,233071.158889,0,83.067100,9.636364,2008.0,0
21,334,1,3,81.097858,66.970666,9.666667,9,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,243193.220757,82.060899,245205.379553,0,66.970666,9.666667,2008.0,0
22,12217,23,1,35.770587,35.287517,9.205882,7,9.0,2016.0,0.034656,B,B,0,168,0,NaN,0,0,B,72962.598347,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
25,3699,1,1,42.648865,38.536728,9.097561,8,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,159350.917190,43.718832,147116.367405,0,35.070845,9.097561,2008.0,0
26,16340,78,3,64.411580,45.160296,6.000000,3,9.0,1989.0,0.219006,B,B,28,6746,3,NaN,1,4,B,218469.023207,66.128882,265224.273498,0,44.561050,7.111111,1989.0,0
28,6159,18,1,41.521546,20.539216,9.000000,13,13.0,2000.0,0.000000,B,B,30,5562,0,NaN,0,5,A,189050.289571,40.525267,173549.134902,0,21.642119,8.100000,1993.0,0
29,10367,29,1,39.635556,26.631197,4.000000,5,5.0,1962.0,0.069660,B,B,31,6119,4,NaN,1,2,B,171941.594634,35.292684,148300.183202,0,20.627571,6.185185,1974.0,0
30,12189,28,3,76.205998,46.656823,10.000000,18,17.0,2000.0,0.333892,B,B,30,6564,1,NaN,0,0,B,361460.801718,74.712008,305398.465997,0,47.442876,8.454545,1982.0,0
32,2660,27,3,86.119975,54.084630,11.000000,4,9.0,2014.0,0.051815,B,B,5,1227,0,NaN,0,0,B,163969.984699,80.469616,218737.250588,0,62.991186,10.351351,2011.0,0
34,5392,28,2,65.763023,33.460679,9.000000,17,23.0,2010.0,0.333892,B,B,30,6564,1,NaN,0,0,B,321966.604502,49.967873,220528.563435,0,31.228248,6.454545,1982.0,0
37,12292,27,2,53.445819,33.548834,12.000000,17,17.0,2005.0,0.041116,B,B,53,14892,4,NaN,1,4,B,237308.835624,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
38,2384,23,1,41.524688,41.415222,9.205882,12,17.0,2014.0,0.075779,B,B,6,1437,3,NaN,0,2,B,105953.257635,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
41,14177,27,2,67.467154,40.031045,16.000000,13,17.0,2014.0,0.072158,B,B,2,629,1,NaN,0,0,A,132858.341725,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
42,2404,23,2,55.927659,49.933367,10.730769,3,4.0,2014.0,0.034656,B,B,0,168,0,NaN,0,0,B,95744.167973,60.877232,135762.895041,1,49.933367,10.730769,2014.0,0
43,13123,88,2,51.057801,32.972933,5.000000,9,9.0,1976.0,0.127376,B,B,43,8429,3,NaN,3,9,B,179789.288373,51.667014,217350.638525,0,31.537506,7.187500,1984.0,0
46,16332,23,1,63.714931,33.840721,9.205882,11,17.0,2014.0,0.075779,B,B,6,1437,3,NaN,0,2,B,152263.886454,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
47,6066,67,1,41.573166,21.065378,10.000000,9,16.0,1980.0,0.100456,B,B,43,7227,0,NaN,1,6,A,210769.516641,39.063677,170508.468414,0,21.039473,7.277778,1982.0,0
48,14042,27,2,57.791615,46.509386,9.986111,9,17.0,2011.0,0.011654,B,B,4,915,0,NaN,0,0,B,139531.575861,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
51,5965,10,1,41.144070,20.348808,9.000000,12,14.0,1971.0,0.089040,B,B,33,7976,5,NaN,0,11,B,201961.918141,38.157210,187115.091684,0,19.750141,10.200000,1979.0,0
52,2150,34,2,61.673568,61.762322,9.642857,14,14.0,2018.0,0.069753,B,B,53,13670,4,NaN,1,11,B,269906.912907,60.843806,269744.824468,0,51.519670,9.642857,2010.0,1
54,12863,27,1,36.181445,38.075191,9.647619,2,12.0,2011.0,0.011654,B,B,4,915,0,NaN,0,0,B,88623.960046,42.573792,123555.916178,0,30.800915,9.647619,2011.0,1
58,13552,62,2,71.567578,52.947442,11.333333,7,0.0,2008.0,0.072158,B,B,2,629,1,NaN,0,0,A,159659.160189,67.876169,181248.200763,1,52.947442,11.333333,2008.0,0
59,1516,23,1,43.348103,33.840721,9.205882,6,25.0,2014.0,0.075779,B,B,6,1437,3,NaN,0,2,B,113780.468103,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
60,10730,67,2,46.794498,29.123023,5.000000,5,9.0,1982.0,0.100456,B,B,43,7227,0,NaN,1,6,A,190326.383375,51.555062,225134.448607,0,32.002148,7.000000,1982.0,0
64,6046,27,1,44.300632,30.800915,9.647619,6,12.0,2011.0,0.011654,B,B,4,915,0,NaN,0,0,B,118327.090620,42.573792,123555.916178,1,30.800915,9.647619,2011.0,0
67,8899,27,2,60.085225,46.509386,9.986111,16,15.0,2011.0,0.211401,B,B,9,1892,0,NaN,0,1,B,137285.697444,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
70,12306,94,2,44.072337,28.726879,6.000000,4,9.0,1973.0,0.282798,B,B,33,8667,2,NaN,0,6,B,207006.724362,50.516024,206558.944435,0,31.465817,6.894737,1981.0,0
71,1831,1,2,64.571545,50.720040,9.324324,16,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,163498.908654,63.201979,198775.648383,0,50.720040,9.324324,2008.0,0
72,9182,9,1,42.205914,23.485910,8.000000,8,17.0,1993.0,0.069753,B,B,53,13670,4,NaN,1,11,B,178350.761526,42.383001,141852.296563,0,24.619043,8.653061,1994.0,0
73,16703,23,1,39.559326,33.840721,9.205882,6,12.0,2014.0,0.034656,B,B,0,168,0,NaN,0,0,B,83407.975491,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
75,8232,61,1,38.040120,18.556785,7.000000,11,12.0,1998.0,0.300323,B,B,52,10311,6,NaN,1,9,B,223982.521830,39.057827,179287.245583,0,20.975338,6.800000,1984.0,0
76,9762,62,4,64.283247,47.156752,6.000000,9,9.0,1974.0,0.002212,B,B,39,7614,3,NaN,1,5,A,313119.233069,64.283247,313119.233069,0,47.156752,6.000000,2008.0,0
77,11457,1,1,41.423290,35.070845,9.097561,4,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,138751.645838,43.718832,147116.367405,0,35.070845,9.097561,2008.0,0
79,2700,1,1,39.154100,39.071419,9.097561,5,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,133824.733993,43.718832,147116.367405,0,35.070845,9.097561,2008.0,0
82,12687,27,2,65.444497,68.614227,9.986111,7,19.0,2011.0,0.211401,B,B,9,1892,0,NaN,0,1,B,146247.605596,63.873450,166244.711598,0,46.509386,9.986111,2011.0,1
85,131,1,1,42.808105,35.070845,9.097561,18,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,135805.181590,43.718832,147116.367405,0,35.070845,9.097561,2008.0,0
86,9412,23,1,33.346258,33.840721,9.205882,5,1.0,2014.0,0.034656,B,B,0,168,0,NaN,0,0,B,65334.292569,43.285976,102427.030975,0,33.840721,9.205882,2014.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6906,6207,12,1,45.775672,20.198410,8.000000,4,12.0,1982.0,0.090799,B,B,74,19083,2,NaN,5,15,B,179696.020715,41.437001,173784.572443,0,22.687735,8.111111,1991.0,0
6907,12502,11,1,42.446211,21.150859,8.000000,6,12.0,1980.0,0.000170,B,B,36,5992,0,NaN,1,1,B,174834.991928,37.324430,156709.347027,0,21.120471,7.560000,1976.0,0
6908,13938,29,2,44.242741,30.603171,5.000000,2,5.0,1962.0,0.069660,B,B,31,6119,4,NaN,1,2,B,117266.442171,46.144367,195563.427211,0,29.863828,6.000000,1974.0,0
6913,13384,70,2,50.479397,30.230722,8.000000,18,22.0,1984.0,0.002212,B,B,39,7614,3,NaN,1,5,A,308191.036685,52.332481,240481.515977,0,31.811620,8.000000,1988.0,0
6915,1953,1,2,63.043237,50.720040,10.000000,18,17.0,2016.0,0.007122,B,B,1,264,0,NaN,0,1,B,168828.232009,63.201979,198775.648383,0,50.720040,9.324324,2008.0,0
6916,2067,27,2,76.517679,46.509386,9.986111,6,17.0,2011.0,0.072158,B,B,2,629,1,NaN,0,0,A,175224.046032,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
6917,8029,9,3,65.285135,39.469874,8.000000,2,14.0,1996.0,0.069753,B,B,53,13670,4,NaN,1,11,B,284190.555119,75.949984,249140.409925,0,48.828193,8.759259,1994.0,0
6920,13681,21,2,46.436030,30.215688,5.000000,4,5.0,1968.0,0.034331,B,B,25,5487,3,NaN,0,4,B,179636.714905,47.883083,189591.187596,0,29.969202,6.439024,1978.0,0
6923,13665,62,2,57.717659,52.947442,11.333333,10,0.0,2008.0,0.072158,B,B,2,629,1,NaN,0,0,A,176072.619971,67.876169,181248.200763,1,52.947442,11.333333,2008.0,0
6927,3461,12,2,56.861937,58.940519,9.000000,6,14.0,1995.0,0.090799,B,B,74,19083,2,NaN,5,15,B,240450.533232,56.501456,233926.311447,0,34.654982,8.636364,1991.0,1
6928,4736,61,2,50.921105,31.492316,6.000000,8,12.0,1981.0,0.300323,B,B,52,10311,6,NaN,1,9,B,210316.219841,51.954556,238367.901799,0,31.726438,7.625000,1984.0,0
6931,769,23,2,54.023920,54.834673,10.000000,3,3.0,2014.0,0.005767,B,B,1,388,0,NaN,0,0,B,93991.023578,60.877232,135762.895041,0,49.933367,10.730769,2014.0,1
6933,11735,15,1,38.070362,23.339445,6.000000,9,12.0,2008.0,0.158249,B,B,21,5731,0,NaN,1,0,B,160185.632085,42.505570,172803.892959,0,24.572755,7.636364,2005.0,0
6934,14045,67,3,65.492316,39.609917,8.000000,9,9.0,1982.0,0.100456,B,B,43,7227,0,NaN,1,6,A,248863.987147,68.480562,263807.678699,0,44.391628,7.875000,1982.0,0
6935,11163,1,3,81.196247,66.970666,9.666667,10,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,235384.969986,82.060899,245205.379553,1,66.970666,9.666667,2008.0,0
6936,4263,27,1,54.255191,51.135219,9.647619,5,3.0,2017.0,0.072158,B,B,2,629,1,NaN,0,0,A,147040.226120,42.573792,123555.916178,0,30.800915,9.647619,2011.0,0
6937,2124,62,1,45.592499,33.564869,10.107143,12,0.0,2008.0,0.072158,B,B,2,629,1,NaN,0,0,A,123553.869052,45.731261,130248.816051,1,33.564869,10.107143,2008.0,0
6938,10632,12,2,62.569632,34.249391,10.000000,11,17.0,1996.0,0.090799,B,B,74,19083,2,NaN,5,15,B,263457.850173,56.501456,233926.311447,0,34.654982,8.636364,1991.0,0
6940,8456,62,2,55.239977,34.432794,9.000000,5,12.0,1974.0,0.002212,B,B,39,7614,3,NaN,1,5,A,235829.323500,67.876169,181248.200763,0,52.947442,11.333333,2008.0,0
6944,6673,1,2,66.567026,50.720040,9.324324,9,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,224959.052511,63.201979,198775.648383,0,50.720040,9.324324,2008.0,0
6947,233,18,1,40.489842,23.174794,7.000000,5,15.0,2001.0,0.000000,B,B,30,5562,0,NaN,0,5,A,195089.174745,40.525267,173549.134902,0,21.642119,8.100000,1993.0,0
6948,3266,11,3,60.806673,45.166491,5.000000,9,9.0,1974.0,0.000170,B,B,36,5992,0,NaN,1,1,B,232700.394354,64.966234,246806.116955,0,44.985863,6.750000,1976.0,0
6949,14816,18,3,67.947151,42.528783,8.000000,7,14.0,1987.0,0.000000,B,B,30,5562,0,NaN,0,5,A,279943.976129,75.674538,273728.440164,0,51.449757,8.666667,1993.0,0
6951,3662,23,1,36.232303,33.840721,9.205882,4,15.0,2014.0,0.005767,B,B,1,388,0,NaN,0,0,B,65410.074769,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
6952,12678,27,3,67.144897,47.348967,9.000000,11,12.0,1976.0,0.211401,B,B,9,1892,0,NaN,0,1,B,204838.943727,80.469616,218737.250588,0,62.991186,10.351351,2011.0,0
6953,8328,23,1,39.409501,33.840721,9.205882,5,17.0,2014.0,0.075779,B,B,6,1437,3,NaN,0,2,B,103396.866592,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
6954,13949,94,1,41.897834,20.663256,9.000000,10,16.0,1975.0,0.521867,B,B,25,6149,0,NaN,0,0,B,144207.331840,39.503463,157190.767445,0,21.848857,7.769231,1981.0,0
6955,10465,9,2,46.628517,30.904719,6.000000,7,9.0,1994.0,0.130123,B,B,8,1986,0,NaN,0,0,B,180215.581814,57.879637,186856.599512,0,33.935220,8.425532,1994.0,0
6956,6606,48,2,52.840211,32.609650,8.000000,3,16.0,1983.0,0.041125,B,B,46,9515,5,NaN,1,10,B,222770.981476,58.406663,302468.923898,0,42.645718,7.666667,1996.0,0
6957,5364,1,3,85.981043,66.970666,9.666667,15,22.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,215405.715698,82.060899,245205.379553,1,66.970666,9.666667,2008.0,0
6960,1040,27,2,65.088892,46.509386,9.986111,10,1.0,2011.0,0.072158,B,B,2,629,1,NaN,0,0,A,179525.641685,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
6962,9840,108,3,78.824038,53.016323,8.000000,2,8.0,1958.0,0.000000,B,B,23,3684,2,NaN,0,4,B,611542.063430,76.616660,506439.457342,0,49.490802,7.833333,1971.0,0
6963,4993,173,2,54.927569,33.010972,9.000000,6,17.0,1990.0,0.081943,B,B,20,2738,20,NaN,1,4,B,113863.779762,55.246781,280651.066545,0,34.206797,7.333333,1969.0,0
6964,15892,105,2,39.285754,26.555992,6.000000,7,9.0,1971.0,0.069660,B,B,31,6119,4,NaN,1,2,B,165829.685599,44.865518,205598.428695,0,30.380336,5.888889,1969.0,0
6968,10176,1,3,75.081772,74.716290,9.666667,13,17.0,2015.0,0.007122,B,B,1,264,0,NaN,0,1,B,211523.600587,82.060899,245205.379553,0,66.970666,9.666667,2008.0,0
6970,11025,27,2,96.043563,100.982133,10.000000,5,6.0,2014.0,0.075424,B,B,11,3097,0,NaN,0,0,B,126277.109148,63.873450,166244.711598,0,46.509386,9.986111,2011.0,1
6971,3035,94,2,47.802228,32.542126,6.000000,5,12.0,1975.0,0.521867,B,B,25,6149,0,NaN,0,0,B,162335.014034,50.516024,206558.944435,0,31.465817,6.894737,1981.0,0
6973,15891,27,3,82.630590,62.991186,10.351351,11,0.0,2011.0,0.017647,B,B,2,469,0,NaN,0,0,B,221431.000082,80.469616,218737.250588,1,62.991186,10.351351,2011.0,0
6977,12105,13,4,88.174556,56.181302,8.000000,2,14.0,2002.0,0.090799,B,B,74,19083,2,NaN,5,15,B,352400.566771,95.225784,380695.616491,0,61.849251,9.000000,1996.0,0
6979,393,27,2,62.086918,46.509386,9.986111,3,22.0,2011.0,0.211401,B,B,9,1892,0,NaN,0,1,B,148406.643824,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
6981,16388,23,2,56.751532,52.593888,10.730769,8,9.0,2016.0,0.034656,B,B,0,168,0,NaN,0,0,B,110750.169067,60.877232,135762.895041,0,49.933367,10.730769,2014.0,0
6982,3902,23,1,27.442238,33.840721,9.205882,4,4.0,2014.0,0.034656,B,B,0,168,0,NaN,0,0,B,65547.071846,43.285976,102427.030975,0,33.840721,9.205882,2014.0,1
6985,3134,27,2,62.245962,62.184284,10.000000,5,5.0,2016.0,0.072158,B,B,2,629,1,NaN,0,0,A,197796.499229,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
6987,7663,61,1,40.110681,21.115757,8.000000,3,12.0,1978.0,0.300323,B,B,52,10311,6,NaN,1,9,B,164122.130995,39.057827,179287.245583,0,20.975338,6.800000,1984.0,0
6990,10278,23,1,43.880576,42.972991,9.205882,12,17.0,2014.0,0.075779,B,B,6,1437,3,NaN,0,2,B,139897.079874,43.285976,102427.030975,0,33.840721,9.205882,2014.0,0
6992,2086,12,2,57.872882,34.866716,9.000000,11,17.0,1996.0,0.090799,B,B,74,19083,2,NaN,5,15,B,259369.044635,56.501456,233926.311447,0,34.654982,8.636364,1991.0,0
6993,4718,27,2,60.977922,46.509386,9.986111,8,19.0,2011.0,0.211401,B,B,9,1892,0,NaN,0,1,B,132806.057204,63.873450,166244.711598,0,46.509386,9.986111,2011.0,0
6996,6431,25,3,85.790813,59.222769,9.888889,9,25.0,2018.0,0.069753,B,B,53,13670,4,NaN,1,11,B,328680.869407,82.153086,316792.727074,0,59.222769,9.888889,2004.0,0
6997,14239,1,3,83.225854,66.970666,9.666667,13,17.0,2008.0,0.007122,B,B,1,264,0,NaN,0,1,B,255102.406709,82.060899,245205.379553,0,66.970666,9.666667,2008.0,0
6998,5487,94,3,51.354934,36.538453,5.000000,1,9.0,1973.0,0.127376,B,B,43,8429,3,NaN,3,9,B,182236.048759,61.585713,240518.863946,0,43.910776,6.500000,1981.0,0

In [92]:
train_dict['district_mean_health'] = train.groupby(['DistrictId'])[['Healthcare_1']].mean().reset_index().rename(columns={'Healthcare_1':'district_mean_health'})

In [93]:
train = pd.merge(train, train_dict['district_mean_health'], on=['DistrictId'], how='left')
valid = pd.merge(valid, train_dict['district_mean_health'], on=['DistrictId'], how='left')
test = pd.merge(test, train_dict['district_mean_health'], on=['DistrictId'], how='left')

In [94]:
train.loc[train['district_mean_health'].isnull(), 'district_mean_health'] = train['district_mean_health'].mean()
valid.loc[valid['district_mean_health'].isnull(), 'district_mean_health'] = train['district_mean_health'].mean()
test.loc[test['district_mean_health'].isnull(), 'district_mean_health'] = train['district_mean_health'].mean()

In [95]:
train.loc[train['Healthcare_1'].isnull(), 'Healthcare_1'] = train['district_mean_health']
valid.loc[valid['Healthcare_1'].isnull(), 'Healthcare_1'] = valid['district_mean_health']
test.loc[test['Healthcare_1'].isnull(), 'Healthcare_1'] = test['district_mean_health']

## Другие "фишки"

In [96]:
train['HouseYear'] = train['HouseYear'].astype(np.int64)
valid['HouseYear'] = valid['HouseYear'].astype(np.int64)
test['HouseYear'] = test['HouseYear'].astype(np.int64)

year_max = 1976
year_new = 2018
train['OldHouse'] = (train['HouseYear'] <= year_max).astype(int)
train['NewHouse'] = (train['HouseYear'] >= year_new).astype(int)
valid['OldHouse'] = (valid['HouseYear'] <= year_max).astype(int)
valid['NewHouse'] = (valid['HouseYear'] >= year_new).astype(int)
test['OldHouse'] = (test['HouseYear'] <= year_max).astype(int)
test['NewHouse'] = (test['HouseYear'] >= year_new).astype(int)

In [97]:
train["Square2"] = train["Square"] ** 2
valid["Square2"] = valid["Square"] ** 2
test["Square2"] = test["Square"] ** 2

In [98]:
train["Rooms2"] = train["Rooms"] ** 2
valid["Rooms2"] = valid["Rooms"] ** 2
test["Rooms2"] = test["Rooms"] ** 2

In [99]:
train['PriceSquare'] = train['Price'] / train['Square']

In [100]:
train['FirstFloor'] = (train['Floor'] == 1).astype(int)
train['TcocolFloor'] = (train['Floor'] == 0).astype(int)
train['LastFloor'] = ((train['Floor'] == train['HouseFloor']) & (train['HouseFloor'] > 2)).astype(int)
train['ErrorFloor'] = (train['Floor'] > train['HouseFloor']).astype(int)

valid['FirstFloor'] = (valid['Floor'] == 1).astype(int)
valid['TcocolFloor'] = (valid['Floor'] == 0).astype(int)
valid['LastFloor'] = ((valid['Floor'] == valid['HouseFloor']) & (valid['HouseFloor'] > 2)).astype(int)
valid['ErrorFloor'] = (valid['Floor'] > valid['HouseFloor']).astype(int)

test['FirstFloor'] = (test['Floor'] == 1).astype(int)
test['TcocolFloor'] = (test['Floor'] == 0).astype(int)
test['LastFloor'] = ((test['Floor'] == test['HouseFloor']) & (test['HouseFloor'] > 2)).astype(int)
test['ErrorFloor'] = (test['Floor'] > test['HouseFloor']).astype(int)

In [101]:
train['FreePlaning'] = (train['Rooms'] == 0).astype(int)
valid['FreePlaning'] = (valid['Rooms'] == 0).astype(int)
test['FreePlaning'] = (test['Rooms'] == 0).astype(int)

In [102]:
train['KitchenError'] = (((train['KitchenSquare'] == 0) & (train['Rooms'] != 0)) | (train['KitchenSquare'] > train['Square'])).astype(int)
valid['KitchenError'] = (((valid['KitchenSquare'] == 0) & (valid['Rooms'] != 0)) | (valid['KitchenSquare'] > valid['Square'])).astype(int)
test['KitchenError'] = (((test['KitchenSquare'] == 0) & (test['Rooms'] != 0)) | (test['KitchenSquare'] > test['Square'])).astype(int)

In [103]:
train["Social2"] = train["Social_1"] * train["Social_2"]
valid["Social2"] = valid["Social_1"] * valid["Social_2"]
test["Social2"] = test["Social_1"] * test["Social_2"]

### Стоимость комнат, в зависимости от района

In [104]:
dict_district_stat = {
    'PriceSquare': train.groupby(['DistrictId', 'Rooms'])[['PriceSquare']].mean().reset_index().rename(columns={'PriceSquare':'mean_sqprice'}),
    'Price': train.groupby(['DistrictId', 'Rooms'])[['Price']].mean().reset_index().rename(columns={'Price':'mean_price'}),
    'RoomsSquare': train.groupby(['Rooms'])[['PriceSquare']].mean().reset_index().rename(columns={'PriceSquare': 'mean_sqprice2'}),
    'Rooms': train.groupby(['Rooms'])[['Price']].mean().reset_index().rename(columns={'Price': 'mean_price2'})
}

train = pd.merge(train, dict_district_stat['PriceSquare'], on=['DistrictId', 'Rooms'], how='left')
valid = pd.merge(valid, dict_district_stat['PriceSquare'], on=['DistrictId', 'Rooms'], how='left')
#room_stat = train.groupby(['Rooms'])[['PriceSquare']].mean().reset_index().rename(columns={'PriceSquare': 'mean_sqprice2'})
train = pd.merge(train, dict_district_stat['RoomsSquare'], on=['Rooms'], how='left')
valid = pd.merge(valid, dict_district_stat['RoomsSquare'], on='Rooms', how='left')
#valid['mean_price2'].isnull().sum()
#train.loc[train['Rooms'] == 5, 'PriceSquare'].mean()
valid.loc[valid['Rooms'] == 10, 'mean_sqprice2'] = train.loc[train['Rooms'] == 5, 'PriceSquare'].mean()
valid.loc[valid['Rooms'] == 0, 'mean_sqprice2'] = train.loc[train['Rooms'] == 1, 'PriceSquare'].mean()
valid['mean_sqprice'] = valid['mean_sqprice'].fillna(valid['mean_sqprice2'])

In [105]:
train = pd.merge(train, dict_district_stat['Price'], on=['DistrictId', 'Rooms'], how='left')
valid = pd.merge(valid, dict_district_stat['Price'], on=['DistrictId', 'Rooms'], how='left')
#room_stat = train.groupby(['Rooms'])[['Price']].mean().reset_index().rename(columns={'Price': 'mean_price2'})
train = pd.merge(train, dict_district_stat['Rooms'], on=['Rooms'], how='left')
valid = pd.merge(valid, dict_district_stat['Rooms'], on='Rooms', how='left')
valid['mean_price2'].isnull().sum()
#train.loc[train['Rooms'] == 5, 'PriceSquare'].mean()
valid.loc[valid['Rooms'] == 10, 'mean_price2'] = train.loc[train['Rooms'] == 5, 'Price'].mean()
valid.loc[valid['Rooms'] == 0, 'mean_price2'] = train.loc[train['Rooms'] == 1, 'Price'].mean()
valid['mean_price'] = valid['mean_price'].fillna(valid['mean_price2'])

In [106]:
train = pd.get_dummies(train)
valid = pd.get_dummies(valid)
test = pd.get_dummies(test)

## Очистка тренировочных данных

In [107]:
#print(train.shape)
#train = train.loc[train['Rooms'].between(0, 10), :]
#print(train.shape)
#train = train.loc[train['HouseYear'].between(1800, 2023), :]
#print(train.shape)
train = train.loc[train['Price'].between(10000, 610000), :]
print(train.shape)
#train = train.loc[train['Square'].between(10, 650), :]
#print(train.shape)
#train = train.loc[train['KitchenSquare'].between(0, 500), :]
#print(train.shape)

(6989, 47)

In [108]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6989 entries, 0 to 6999
Data columns (total 47 columns):
Id                       6989 non-null int64
DistrictId               6989 non-null int64
Rooms                    6989 non-null int64
Square                   6989 non-null float64
LifeSquare               6989 non-null float64
KitchenSquare            6989 non-null float64
Floor                    6989 non-null int64
HouseFloor               6989 non-null float64
HouseYear                6989 non-null int64
Ecology_1                6989 non-null float64
Social_1                 6989 non-null int64
Social_2                 6989 non-null int64
Social_3                 6989 non-null int64
Healthcare_1             6989 non-null float64
Helthcare_2              6989 non-null int64
Shops_1                  6989 non-null int64
Price                    6989 non-null float64
district_mean_square     6989 non-null float64
district_mean_price      6989 non-null float64
NotForLife               6989 non-null int32
district_mean_life       6989 non-null float64
district_mean_kitchen    6989 non-null float64
district_mean_year       6989 non-null float64
LifeSquareError          6989 non-null int32
district_mean_health     6989 non-null float64
OldHouse                 6989 non-null int32
NewHouse                 6989 non-null int32
Square2                  6989 non-null float64
Rooms2                   6989 non-null int64
PriceSquare              6989 non-null float64
FirstFloor               6989 non-null int32
TcocolFloor              6989 non-null int32
LastFloor                6989 non-null int32
ErrorFloor               6989 non-null int32
FreePlaning              6989 non-null int32
KitchenError             6989 non-null int32
Social2                  6989 non-null int64
mean_sqprice             6989 non-null float64
mean_sqprice2            6989 non-null float64
mean_price               6989 non-null float64
mean_price2              6989 non-null float64
Ecology_2_A              6989 non-null uint8
Ecology_2_B              6989 non-null uint8
Ecology_3_A              6989 non-null uint8
Ecology_3_B              6989 non-null uint8
Shops_2_A                6989 non-null uint8
Shops_2_B                6989 non-null uint8
dtypes: float64(19), int32(10), int64(12), uint8(6)
memory usage: 2.0 MB

# Оценка полученных данных

In [109]:
train.drop(labels='Price', axis=1).corrwith(train['Price']).sort_values()

mean_sqprice2           -0.371010
district_mean_year      -0.324207
HouseYear               -0.153102
NotForLife              -0.086935
LifeSquareError         -0.083516
Ecology_1               -0.062987
Shops_2_A               -0.059965
FirstFloor              -0.053213
Ecology_3_B             -0.050299
district_mean_kitchen   -0.033325
Ecology_2_A             -0.030369
ErrorFloor              -0.011949
FreePlaning             -0.008535
NewHouse                -0.004289
LastFloor               -0.000923
Id                       0.019073
OldHouse                 0.029051
Ecology_2_B              0.030369
Ecology_3_A              0.050299
Shops_2_B                0.059965
Social_3                 0.074477
HouseFloor               0.091547
Healthcare_1             0.115927
district_mean_health     0.128016
Floor                    0.128255
KitchenSquare            0.135937
Social2                  0.173523
Shops_1                  0.181664
Social_2                 0.241927
Helthcare_2              0.250626
DistrictId               0.266640
Social_1                 0.266811
district_mean_life       0.331871
LifeSquare               0.353772
mean_sqprice             0.471981
district_mean_square     0.505883
Square2                  0.516487
Rooms2                   0.567213
Rooms                    0.571043
Square                   0.575339
mean_price2              0.576929
PriceSquare              0.629102
mean_price               0.812229
district_mean_price      0.812229
TcocolFloor                   NaN
KitchenError                  NaN
dtype: float64

In [110]:
labels_ecology = ['Ecology_1', 'Ecology_2_A', 'Ecology_2_B', 'Ecology_3_A', 'Ecology_3_B', 'Price']
train[labels_ecology].corr(method='pearson')

,Ecology_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Price
Ecology_1,1.000000,0.105841,-0.105841,0.231596,-0.231596,-0.062987
Ecology_2_A,0.105841,1.000000,-1.000000,-0.016543,0.016543,-0.030369
Ecology_2_B,-0.105841,-1.000000,1.000000,0.016543,-0.016543,0.030369
Ecology_3_A,0.231596,-0.016543,0.016543,1.000000,-1.000000,0.050299
Ecology_3_B,-0.231596,0.016543,-0.016543,-1.000000,1.000000,-0.050299
Price,-0.062987,-0.030369,0.030369,0.050299,-0.050299,1.000000

In [111]:
labels_shops = ['Shops_1', 'Shops_2_B', 'Shops_2_A', 'Price']
train[labels_shops].corr(method='pearson')

            Shops_1  Shops_2_B  Shops_2_A     Price
Shops_1    1.000000   0.135160  -0.135160  0.181664
Shops_2_B  0.135160   1.000000  -1.000000  0.059965
Shops_2_A -0.135160  -1.000000   1.000000 -0.059965
Price      0.181664   0.059965  -0.059965  1.000000

In [112]:
labels_social = ['Social_1', 'Social_2', 'Social_3','Price']
train[labels_social].corr(method='pearson')

          Social_1  Social_2  Social_3     Price
Social_1  1.000000  0.955653  0.022311  0.266811
Social_2  0.955653  1.000000  0.072464  0.241927
Social_3  0.022311  0.072464  1.000000  0.074477
Price     0.266811  0.241927  0.074477  1.000000

In [113]:
labels_health = ['Healthcare_1', 'Helthcare_2','Price']
train[labels_health].corr(method='pearson')

              Healthcare_1  Helthcare_2     Price
Healthcare_1      1.000000     0.187405  0.115927
Helthcare_2       0.187405     1.000000  0.250626
Price             0.115927     0.250626  1.000000

In [114]:
labels_floor = ['FirstFloor', 'LastFloor', 'Floor', 'HouseFloor', 'Price']
train[labels_floor].corr(method='pearson')

            FirstFloor  LastFloor     Floor  HouseFloor     Price
FirstFloor    1.000000  -0.046564 -0.219161   -0.110747 -0.053213
LastFloor    -0.046564   1.000000  0.146570   -0.074372 -0.000923
Floor        -0.219161   0.146570  1.000000    0.437020  0.128255
HouseFloor   -0.110747  -0.074372  0.437020    1.000000  0.091547
Price        -0.053213  -0.000923  0.128255    0.091547  1.000000

In [115]:
labels_error = ['ErrorFloor', 'LifeSquareError', 'KitchenError', 'Price']
train[labels_error].corr(method='pearson')

                 ErrorFloor  LifeSquareError  KitchenError     Price
ErrorFloor         1.000000         0.052888           NaN -0.011949
LifeSquareError    0.052888         1.000000           NaN -0.083516
KitchenError            NaN              NaN           NaN       NaN
Price             -0.011949        -0.083516           NaN  1.000000

In [116]:
labels_rooms = ['Rooms', 'Rooms2', 'FreePlaning', 'NotForLife', 'Price']
train[labels_rooms].corr(method='pearson')

                Rooms    Rooms2  FreePlaning  NotForLife     Price
Rooms        1.000000  0.976890    -0.062165   -0.035125  0.571043
Rooms2       0.976890  1.000000    -0.032764   -0.034032  0.567213
FreePlaning -0.062165 -0.032764     1.000000    0.069380 -0.008535
NotForLife  -0.035125 -0.034032     0.069380    1.000000 -0.086935
Price        0.571043  0.567213    -0.008535   -0.086935  1.000000

In [117]:
labels_square = ['Square', 'LifeSquare', 'KitchenSquare', 'Price']
train[labels_square].corr(method='pearson')

                 Square  LifeSquare  KitchenSquare     Price
Square         1.000000    0.788376       0.479963  0.575339
LifeSquare     0.788376    1.000000       0.409255  0.353772
KitchenSquare  0.479963    0.409255       1.000000  0.135937
Price          0.575339    0.353772       0.135937  1.000000

In [118]:
labels = fts =  ['HouseYear', 
    'Rooms',  
    'Floor', 
    'Square2', 
    'LifeSquare', 
    'Ecology_1', 
    'Social_1', 
    'Social_3', 
    'Healthcare_1', 
    'Shops_1', 
       ]

train[labels].corr(method='pearson')

,HouseYear,Rooms,Floor,Square2,LifeSquare,Ecology_1,Social_1,Social_3,Healthcare_1,Shops_1
HouseYear,1.000000,-0.105092,0.334203,0.206048,0.360400,-0.126148,-0.398610,-0.036480,-0.227924,-0.145644
Rooms,-0.105092,1.000000,-0.005364,0.650918,0.618992,-0.029015,0.080957,0.009600,0.037830,0.059105
Floor,0.334203,-0.005364,1.000000,0.094719,0.138421,-0.013730,-0.049136,0.002193,-0.103969,0.022041
Square2,0.206048,0.650918,0.094719,1.000000,0.736282,-0.069220,-0.075389,0.015492,-0.014747,0.005404
LifeSquare,0.360400,0.618992,0.138421,0.736282,1.000000,-0.088163,-0.254492,0.081938,-0.062205,-0.022635
Ecology_1,-0.126148,-0.029015,-0.013730,-0.069220,-0.088163,1.000000,0.018551,-0.123616,-0.029847,-0.080781
Social_1,-0.398610,0.080957,-0.049136,-0.075389,-0.254492,0.018551,1.000000,0.022311,0.093950,0.524651
Social_3,-0.036480,0.009600,0.002193,0.015492,0.081938,-0.123616,0.022311,1.000000,0.124873,0.662691
Healthcare_1,-0.227924,0.037830,-0.103969,-0.014747,-0.062205,-0.029847,0.093950,0.124873,1.000000,0.065076
Shops_1,-0.145644,0.059105,0.022041,0.005404,-0.022635,-0.080781,0.524651,0.662691,0.065076,1.000000

In [119]:
fts =  ['HouseYear', 
    #'OldHouse', 
    #'NewHouse', 
    #'district_mean_year',
    'Rooms', 
    #'FreePlaning', 
    #'NotForLife',
    #'FirstFloor', 
    #'LastFloor', 
    'Floor', 
    #'HouseFloor',
    'Square2', 
    'LifeSquare', 
    #'KitchenSquare',
    'Ecology_1', 
    #'Ecology_2_A', 
    #'Ecology_3_A',
    'Social_1', 
    'Social_3', 
    'Healthcare_1', 
    #'Helthcare_2', 
    #'district_mean_health',
    #'ErrorFloor', 
    #'LifeSquareError', 
    #'KitchenError',
    'Shops_1', 
    #'Shops_2_A'
       ]

In [120]:
fts =  ['HouseYear', 
    'OldHouse', 
    'NewHouse', 
    'district_mean_year',
    'Rooms', 
    'FreePlaning', 
    'NotForLife',
    'FirstFloor', 
    'LastFloor', 
    'Floor', 
    'HouseFloor',
    'Square2', 
    'LifeSquare', 
    'KitchenSquare',
    'Ecology_1', 
    'Ecology_2_A', 
    'Ecology_3_A',
    'Social_1', 
    'Social_3', 
    'Healthcare_1', 
    'Helthcare_2', 
    'district_mean_health',
    'ErrorFloor', 
    'LifeSquareError', 
    'KitchenError',
    'Shops_1', 
    'Shops_2_A'
       ]

In [152]:
fts = [
    'Rooms',
    'Square2',
    'Rooms2', 
    'Square',
    'LifeSquare',
    'KitchenSquare',
    'Floor',
    'HouseFloor',
    'HouseYear',
    'Ecology_1',
    'Social_1',
    'Social_2',
    'Social_3',
    'Healthcare_1',
    'Helthcare_2',
    'Shops_1',
    'Ecology_2_A',
    'Ecology_3_A',
    'Shops_2_A',
    'district_mean_health',
    'district_mean_year',
    'district_mean_life',
    'district_mean_kitchen',
    'district_mean_square',
    'HouseYear', 
    'OldHouse', 
    'NewHouse', 
    'FreePlaning', 
    'FirstFloor', 
    'LastFloor', 
    'ErrorFloor', 
    'LifeSquareError', 
    'KitchenError',
    
]

In [153]:
valid.loc[:, fts]

,Rooms,Square2,Rooms2,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Ecology_2_A,Ecology_3_A,Shops_2_A,district_mean_health,district_mean_year,district_mean_life,district_mean_kitchen,district_mean_square,HouseYear,OldHouse,NewHouse,FreePlaning,FirstFloor,LastFloor,ErrorFloor,LifeSquareError,KitchenError
0,2,2382.630347,4,48.812195,34.679779,5.000000,5,5,1963,0.034331,25,5487,3,298.470588,0,4,0,0,0,298.470588,1978.0,29.969202,6.439024,47.883083,1963,1,0,0,0,1,0,0,0
1,3,6577.702926,9,81.103039,49.310278,8.000000,4,4,1960,0.298205,16,4048,3,80.000000,1,3,0,0,0,80.000000,1984.0,43.538099,8.080000,69.148072,1960,1,0,0,0,1,0,0,0
2,3,6869.588093,9,82.882978,66.665435,11.000000,8,17,2015,0.243205,5,1564,0,540.000000,0,0,0,0,0,540.000000,2015.0,66.665435,11.000000,79.874558,2015,0,0,0,0,0,0,0,0
3,1,1146.724710,1,33.863324,29.993297,9.205882,5,4,2014,0.034656,0,168,0,1091.232009,0,0,0,0,0,1091.232009,2014.0,33.840721,9.205882,43.285976,2014,0,0,0,0,0,1,0,0
4,1,1857.190655,1,43.095135,30.145675,7.538462,10,17,1998,0.371149,34,7065,1,750.000000,2,5,0,0,0,750.000000,1998.0,30.145675,7.538462,40.764461,1998,0,0,0,0,0,0,0,0
5,3,7152.084527,9,84.569998,60.613297,12.000000,18,24,2017,0.049637,34,7759,0,229.000000,1,3,0,0,0,789.834586,1997.0,51.548748,8.526316,74.715315,2017,0,0,0,0,0,0,0,0
6,2,2988.144572,4,54.663924,29.266790,9.000000,13,17,1999,0.000991,33,6783,3,2630.000000,1,9,0,0,0,2630.000000,1997.0,37.540246,11.000000,69.660958,1999,0,0,0,0,0,0,0,0
7,1,1123.700402,1,33.521641,30.155171,7.769231,17,16,2015,0.282798,33,8667,2,1091.232009,0,6,0,0,0,1091.232009,1981.0,21.848857,7.769231,39.503463,2015,0,0,0,0,0,1,0,0
8,1,1656.188379,1,40.696294,42.182049,8.692308,4,17,2014,0.243205,5,1564,0,540.000000,0,0,0,0,0,540.000000,2015.0,37.546450,8.692308,43.932481,2014,0,0,0,0,0,0,1,0
9,2,1968.613349,4,44.369058,31.064926,5.000000,1,5,1965,0.188784,31,6137,4,1311.444444,0,1,0,0,0,1311.444444,1978.0,32.045703,6.800000,49.652498,1965,1,0,0,1,0,0,0,0
10,2,3014.772223,4,54.906941,58.338478,10.000000,3,3,2019,0.005767,1,388,0,1091.232009,0,0,0,0,0,1091.232009,2014.0,49.933367,10.730769,60.877232,2019,0,1,0,0,1,0,1,0
11,3,6715.496782,9,81.948135,46.351682,8.000000,16,14,1997,0.161532,25,5648,1,30.000000,2,4,0,0,0,30.000000,1994.0,48.828193,8.759259,75.949984,1997,0,0,0,0,0,1,0,0
12,3,6252.906767,9,79.075323,54.500256,8.000000,7,13,1960,0.341072,27,5664,48,2300.000000,3,11,0,0,0,1536.095238,1965.0,45.358777,7.250000,69.794370,1960,1,0,0,0,0,0,0,0
13,1,6497.366892,1,80.606246,25.299592,29.000000,6,40,2014,0.151346,32,5889,10,830.000000,4,1,0,1,0,830.000000,1979.0,24.133850,7.250000,40.200633,2014,0,0,0,0,0,0,0,0
14,1,1935.182363,1,43.990708,43.429296,11.375000,10,17,2017,0.075779,6,1437,3,825.000000,0,2,0,0,0,825.000000,2010.0,37.883252,11.375000,47.918564,2017,0,0,0,0,0,0,0,0
15,2,2913.454318,4,53.976424,32.481557,9.000000,7,17,2001,0.000991,33,6783,3,2630.000000,1,9,0,0,0,2630.000000,1997.0,37.540246,11.000000,69.660958,2001,0,0,0,0,0,0,0,0
16,1,3476.216422,1,58.959447,56.542921,8.357143,20,18,2018,0.238617,26,3889,6,705.000000,3,6,0,0,0,705.000000,1996.0,35.410216,8.357143,44.782965,2018,0,1,0,0,0,1,0,0
17,2,1915.440434,4,43.765745,22.370705,6.000000,5,14,1975,0.122090,29,6566,7,1894.000000,4,0,0,0,0,1074.520000,1975.0,30.975939,6.750000,52.694578,1975,1,0,0,0,0,0,0,0
18,3,6204.386854,9,78.767930,58.620605,10.000000,7,12,2011,0.011654,4,915,0,1091.232009,0,0,0,0,0,1091.232009,2011.0,62.991186,10.351351,80.469616,2011,0,0,0,0,0,0,0,0
19,2,2842.742149,4,53.317372,49.933367,10.730769,11,17,2014,0.034656,0,168,0,1091.232009,0,0,0,0,0,1091.232009,2014.0,49.933367,10.730769,60.877232,2014,0,0,0,0,0,0,0,0
20,2,2867.287662,4,53.547060,32.407939,8.000000,13,17,1987,0.041365,31,5569,0,2078.000000,1,4,0,0,0,2078.000000,1991.0,32.791522,8.384615,53.972975,1987,0,0,0,0,0,0,0,0
21,1,3600.135649,1,60.001130,35.070845,9.097561,8,0,2008,0.007122,1,264,0,227.619048,0,1,0,0,0,227.619048,2008.0,35.070845,9.097561,43.718832,2008,0,0,0,0,0,1,0,0
22,2,2141.781844,4,46.279389,30.736113,6.000000,6,9,1980,0.036122,24,4378,0,1036.000000,1,1,0,0,0,913.784615,1983.0,30.856531,6.320000,49.479918,1980,0,0,0,0,0,0,0,0
23,1,2241.767339,1,47.347306,33.840721,9.205882,7,9,2014,0.014073,2,475,0,1091.232009,0,0,0,0,0,1091.232009,2014.0,33.840721,9.205882,43.285976,2014,0,0,0,0,0,0,0,0
24,2,5173.093026,4,71.924217,44.611789,6.909091,16,0,1995,0.195781,23,5212,6,1091.232009,3,2,0,0,0,1091.232009,1995.0,44.611789,6.909091,59.938799,1995,0,0,0,0,0,1,0,0
25,2,2170.213213,4,46.585547,31.125000,6.000000,7,9,1989,0.219006,28,6746,3,165.000000,1,4,0,0,0,165.000000,1989.0,32.198844,8.000000,55.012439,1989,0,0,0,0,0,0,0,0
26,2,4332.562320,4,65.822202,67.791089,8.272727,16,17,1998,0.371149,34,7065,1,750.000000,2,5,0,0,0,750.000000,1998.0,48.555568,8.272727,60.841150,1998,0,0,0,0,0,0,1,0
27,2,4225.678579,4,65.005220,46.509386,9.986111,8,7,2016,0.017647,2,469,0,1091.232009,0,0,0,0,0,1091.232009,2011.0,46.509386,9.986111,63.873450,2016,0,0,0,0,0,1,0,0
28,1,734.325526,1,27.098441,16.660669,3.000000,3,5,1965,0.265089,37,5288,0,1937.000000,3,2,0,0,0,2175.163265,1978.0,20.564119,6.636364,35.798578,1965,1,0,0,0,0,0,0,0
29,3,5672.428355,9,75.315525,48.968601,7.000000,5,5,1954,0.161976,31,7010,5,4508.000000,3,7,0,1,0,2650.926829,1977.0,50.681832,8.300000,72.646580,1954,1,0,0,0,1,0,0,0
30,3,3451.078318,9,58.745879,40.864226,6.000000,4,5,1962,0.200147,23,3975,8,770.000000,2,0,0,0,0,770.000000,1967.0,40.979116,5.000000,60.181816,1962,1,0,0,0,0,0,0,0
31,1,1825.764718,1,42.728968,16.380008,9.000000,6,16,2001,0.135650,46,7960,6,350.000000,3,11,0,0,0,350.000000,1977.0,19.525228,5.714286,34.062017,2001,0,0,0,0,0,0,0,0
32,2,2818.391251,4,53.088523,55.391092,10.730769,3,1,2017,0.005767,1,388,0,1091.232009,0,0,0,0,0,1091.232009,2014.0,49.933367,10.730769,60.877232,2017,0,0,0,0,0,1,1,0
33,3,4842.720982,9,69.589661,48.856723,5.000000,1,3,1930,0.037316,32,6748,93,562.000000,4,10,0,0,0,2890.000000,1979.0,47.390472,6.000000,67.254429,1930,1,0,0,1,0,0,0,0
34,2,2000.675860,4,44.728915,29.960461,5.000000,7,9,1966,0.042032,37,6856,84,1940.000000,2,5,0,0,0,1940.000000,1998.0,39.491588,6.500000,53.756205,1966,1,0,0,0,0,0,0,0
35,2,1958.676622,4,44.256939,30.301430,6.000000,10,9,1971,0.428826,25,5011,8,730.000000,0,2,0,0,0,730.000000,1982.0,31.534702,6.800000,50.684050,1971,1,0,0,0,0,1,0,0
36,4,11116.816456,16,105.436315,68.823042,10.000000,23,22,1998,0.188784,31,6137,4,1311.444444,0,1,0,0,0,1311.444444,1978.0,68.372919,9.777778,98.651884,1998,0,0,0,0,0,1,0,0
37,2,1698.134032,4,41.208422,20.524240,6.000000,12,12,1966,0.019509,37,7687,11,176.000000,5,5,0,0,0,176.000000,1994.0,32.437354,8.857143,56.199677,1966,1,0,0,0,1,0,0,0
38,2,2638.382843,4,51.365191,32.736355,9.000000,3,9,1972,0.149666,22,4789,2,4087.000000,4,1,0,0,0,2484.689655,1971.0,30.770378,5.904762,46.912964,1972,1,0,0,0,0,0,0,0
39,1,1632.048223,1,40.398617,19.501462,9.000000,6,5,1930,0.306977,27,5148,14,1575.000000,5,7,0,0,0,1575.000000,1965.0,22.241485,8.000000,36.794663,1930,1,0,0,0,0,1,0,0
40,2,4426.760283,4,66.533903,32.409112,6.909091,5,1,2017,0.195781,23,5212,6,1091.232009,3,2,0,0,0,1091.232009,1995.0,44.611789,6.909091,59.938799,2017,0,0,0,0,0,1,0,0
41,3,7272.744706,9,85.280389,58.447967,9.000000,6,5,1960,0.000000,33,7425,1,1091.232009,2,5,0,0,0,1091.232009,1991.0,62.339342,12.500000,108.137763,1960,1,0,0,0,0,1,0,0
42,3,6225.409941,9,78.901267,76.683322,11.000000,15,17,2017,0.243205,5,1564,0,540.000000,0,0,0,0,0,540.000000,2015.0,66.665435,11.000000,79.874558,2017,0,0,0,0,0,0,0,0
43,4,7028.036848,16,83.833387,64.946548,6.000000,1,9,1969,0.089040,33,7976,5,1091.232009,0,11,0,0,0,1091.232009,1979.0,68.372919,9.777778,98.651884,1969,1,0,0,1,0,0,0,0
44,1,2581.546861,1,50.808925,15.920343,20.000000,8,9,1910,0.014423,19,3806,4,4129.000000,0,3,0,0,0,4129.000000,1984.0,21.065549,6.833333,40.841654,1910,1,0,0,0,0,0,0,0
45,2,3660.643058,4,60.503248,49.933367,10.730769,16,0,2014,0.034656,0,168,0,1091.232009,0,0,0,0,0,1091.232009,2014.0,49.933367,10.730769,60.877232,2014,0,0,0,0,0,1,0,0
46,1,1588.516297,1,39.856195,33.840721,9.205882,6,17,2014,0.075779,6,1437,3,1091.232009,0,2,0,0,0,1091.232009,2014.0,33.840721,9.205882,43.285976,2014,0,0,0,0,0,0,0,0
47,2,4466.119175,4,66.829029,57.764257,10.833333,4,17,2011,0.000078,22,6398,141,1046.000000,3,23,0,0,0,1046.000000,2011.0,57.764257,10.833333,65.127062,2011,0,0,0,0,0,0,0,0
48,1,1703.670020,1,41.275538,23.064577,8.000000,4,12,1983,0.238617,26,3889,6,705.000000,3,6,0,0,0,705.000000,1996.0,35.410216,8.357143,44.782965,1983,0,0,0,0,0,0,0,0
49,3,8327.660910,9,91.256018,62.991186,10.351351,10,17,2011,0.072158,2,629,1,1091.232009,0,0,0,0,1,1091.232009,2011.0,62.991186,10.351351,80.469616,2011,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2950,1,1404.211600,1,37.472811,16.923105,9.000000,14,17,2002,0.236108,16,3893,27,1091.232009,3,10,0,0,0,1091.232009,1974.0,53.659770,10.666667,67.749026,2002,0,0,0,0,0,0,0,0
2951,2,2835.382050,4,53.248306,30.605048,8.000000,9,12,1987,0.306977,27,5148,14,1575.000000,5,7,0,0,0,1575.000000,1974.0,31.115376,6.833333,49.731852,1987,0,0,0,0,0,0,0,0
2952,4,5839.856890,16,76.418956,56.256401,7.000000,4,4,1961,0.174739,17,3379,9,100.000000,0,3,0,0,0,100.000000,1958.0,68.372919,9.777778,98.651884,1961,1,0,0,0,1,0,0,0
2953,3,6001.041164,9,77.466387,66.970666,9.666667,14,17,2008,0.007122,1,264,0,227.619048,0,1,0,0,0,227.619048,2008.0,66.970666,9.666667,82.060899,2008,0,0,0,0,0,0,0,0
2954,1,2567.375062,1,50.669271,48.042967,7.846154,16,16,2018,0.072158,2,629,1,2300.000000,0,0,0,0,1,2300.000000,1980.0,23.584213,7.846154,40.627633,2018,0,1,0,0,1,0,0,0
2955,3,6231.089928,9,78.937253,48.010789,12.000000,3,12,2005,0.158249,21,5731,0,1091.232009,1,0,0,0,0,1091.232009,2007.0,50.187485,10.666667,85.724530,2005,0,0,0,0,0,0,0,0
2956,2,4375.139956,4,66.144841,57.764257,10.833333,8,17,2011,0.000078,22,6398,141,1046.000000,3,23,0,0,0,1046.000000,2011.0,57.764257,10.833333,65.127062,2011,0,0,0,0,0,0,0,0
2957,2,1931.827621,4,43.952561,29.685608,5.000000,1,5,1966,0.194489,47,8004,3,125.000000,3,5,0,0,0,298.470588,1978.0,29.969202,6.439024,47.883083,1966,1,0,0,1,0,0,0,0
2958,3,3668.462284,9,60.567832,43.109734,6.000000,6,9,1974,0.282798,33,8667,2,1091.232009,0,6,0,0,0,1091.232009,1981.0,43.910776,6.500000,61.585713,1974,1,0,0,0,0,0,0,0
2959,1,1977.727507,1,44.471648,25.711705,8.000000,7,12,1983,0.090799,74,19083,2,1091.232009,5,15,0,0,0,1091.232009,1991.0,22.687735,8.111111,41.437001,1983,0,0,0,0,0,0,0,0
2960,2,2943.093249,4,54.250283,34.202425,8.000000,4,12,1988,0.000070,46,10309,1,240.000000,1,16,0,0,0,255.526316,1988.0,33.263186,7.650000,53.839506,1988,0,0,0,0,0,0,0,0
2961,2,2836.923488,4,53.262778,32.786353,8.000000,12,12,1982,0.130618,39,10418,9,900.000000,1,9,0,0,0,1576.721311,1984.0,30.108112,7.571429,50.325070,1982,0,0,0,0,1,0,0,0
2962,2,2935.319608,4,54.178590,57.764257,10.833333,11,1,2016,0.000078,22,6398,141,1046.000000,3,23,0,0,0,1046.000000,2011.0,57.764257,10.833333,65.127062,2016,0,0,0,0,0,1,1,0
2963,1,1628.497443,1,40.354646,24.012685,6.000000,2,14,1974,0.309479,35,7715,4,990.000000,0,6,0,0,0,393.276596,1999.0,29.746386,9.400000,47.182108,1974,1,0,0,0,0,0,0,0
2964,3,6502.287819,9,80.636765,48.143543,10.000000,6,14,2009,0.437885,23,5735,3,1084.000000,0,5,0,0,0,919.280488,1989.0,48.520850,8.954545,76.643792,2009,0,0,0,0,0,0,0,0
2965,3,8562.676299,9,92.534730,40.597918,11.571429,3,2,2018,0.000078,22,6398,141,1046.000000,3,23,0,0,0,1046.000000,2011.0,64.894562,11.571429,81.495764,2018,0,1,0,0,0,1,0,0
2966,3,5505.498836,9,74.199049,44.735889,10.000000,5,14,2008,0.035145,42,9292,3,2620.000000,0,3,0,0,0,1400.666667,1976.0,47.662694,7.846154,74.195073,2008,0,0,0,0,0,0,0,0
2967,2,4825.775391,4,69.467801,65.979308,6.920000,8,1,1980,0.178917,18,3594,4,192.000000,1,5,0,0,0,310.553191,1980.0,33.519890,6.920000,51.882520,1980,0,0,0,0,0,1,0,0
2968,1,1078.486026,1,32.840311,17.383530,6.000000,5,10,1969,0.000000,18,3374,5,620.000000,1,2,0,0,0,1248.187500,1978.0,22.112046,7.500000,40.654403,1969,1,0,0,0,0,0,0,0
2969,1,2133.103866,1,46.185537,23.946350,8.000000,1,5,1960,0.161976,31,7010,5,4508.000000,3,7,0,1,0,2650.926829,1977.0,21.906776,7.818182,36.800082,1960,1,0,0,1,0,0,0,0
2970,3,6987.478823,9,83.591141,67.116253,11.500000,3,3,2014,0.034656,0,168,0,1091.232009,0,0,0,0,0,1091.232009,2014.0,67.116253,11.500000,81.879267,2014,0,0,0,0,1,0,0,0
2971,1,1956.324178,1,44.230354,25.279738,8.000000,2,5,1962,0.218440,21,4472,6,1450.000000,4,7,0,0,1,1450.000000,1982.0,21.811123,9.000000,38.766550,1962,1,0,0,0,0,0,0,0
2972,3,7784.482734,9,88.229716,67.116253,11.500000,19,20,2014,0.034656,0,168,0,1091.232009,0,0,0,0,0,1091.232009,2014.0,67.116253,11.500000,81.879267,2014,0,0,0,0,0,0,0,0
2973,3,12825.754507,9,113.250848,56.565752,10.000000,14,0,2010,0.075779,6,1437,3,825.000000,0,2,0,0,0,825.000000,2010.0,56.565752,10.000000,90.379837,2010,0,0,0,0,0,1,0,0
2974,2,4172.539878,4,64.595200,50.720040,10.000000,4,17,2015,0.007122,1,264,0,227.619048,0,1,0,0,0,227.619048,2008.0,50.720040,9.324324,63.201979,2015,0,0,0,0,0,0,0,0
2975,3,4154.344792,9,64.454207,43.826082,8.000000,10,12,1982,0.041125,46,9515,5,1091.232009,1,10,0,0,0,1091.232009,1996.0,56.858900,8.846154,81.502126,1982,0,0,0,0,0,0,0,0
2976,2,3223.992736,4,56.780214,34.626135,7.000000,3,5,1959,0.225825,41,6558,7,1548.000000,3,2,1,0,0,1434.939394,1971.0,29.666772,6.214286,47.322789,1959,1,0,0,0,0,0,0,0
2977,2,1808.136288,4,42.522186,26.273667,7.000000,10,12,1973,0.081943,20,2738,20,1091.232009,1,4,0,0,0,1091.232009,1969.0,34.206797,7.333333,55.246781,1973,1,0,0,0,0,0,0,0
2978,3,5217.017880,9,72.228927,51.536115,6.000000,6,9,1978,0.037178,52,11217,1,2300.000000,1,7,0,0,0,2300.000000,1980.0,48.829731,8.578947,72.335148,1978,0,0,0,0,0,0,0,0
2979,2,2370.828299,4,48.691152,32.598042,5.000000,3,5,1973,0.135650,46,7960,6,350.000000,3,11,0,0,0,350.000000,1977.0,32.335368,5.750000,49.181253,1973,1,0,0,0,0,0,0,0
2980,1,2246.319919,1,47.395358,44.082183,8.000000,16,22,2015,0.000078,22,6398,141,1046.000000,3,23,0,0,0,1046.000000,2011.0,44.082183,8.000000,44.521862,2015,0,0,0,0,0,0,0,0
2981,3,6436.988843,9,80.230847,55.850356,12.000000,6,24,2018,0.049637,34,7759,0,229.000000,1,3,0,0,0,789.834586,1997.0,51.548748,8.526316,74.715315,2018,0,1,0,0,0,0,0,0
2982,3,6729.069103,9,82.030903,78.922956,11.000000,27,25,2015,0.243205,5,1564,0,540.000000,0,0,0,0,0,540.000000,2015.0,66.665435,11.000000,79.874558,2015,0,0,0,0,0,1,0,0
2983,1,1795.835829,1,42.377303,22.550578,8.000000,6,17,2014,0.075779,6,1437,3,1091.232009,0,2,0,0,0,1091.232009,2014.0,33.840721,9.205882,43.285976,2014,0,0,0,0,0,0,0,0
2984,2,2168.322253,4,46.565247,29.631152,5.000000,11,6,1971,0.050900,43,10621,1,30.000000,2,3,0,0,0,622.803571,1980.0,32.369443,7.047619,52.204743,1971,1,0,0,0,0,1,0,0
2985,2,3265.800673,4,57.147184,37.638589,8.000000,16,16,1972,0.195781,23,5212,6,1091.232009,3,2,0,0,0,1091.232009,1971.0,31.694959,6.400000,47.341567,1972,1,0,0,0,1,0,0,0
2986,1,1615.200552,1,40.189558,20.382858,8.000000,15,16,1984,0.014423,19,3806,4,2008.214286,0,3,0,0,0,2008.214286,1978.0,21.934802,8.000000,39.993971,1984,0,0,0,0,0,0,0,0
2987,2,1986.056040,4,44.565189,31.134362,5.000000,5,9,1978,0.033494,66,10573,1,1322.000000,3,8,0,0,0,1767.315068,1978.0,31.175226,6.466667,49.348886,1978,0,0,0,0,0,0,0,0
2988,2,2233.686756,4,47.261895,30.463832,5.000000,5,5,1964,0.069660,31,6119,4,1665.200000,1,2,0,0,0,1665.200000,1974.0,29.863828,6.000000,46.144367,1964,1,0,0,0,1,0,0,0
2989,2,4215.788385,4,64.929103,63.304605,10.000000,15,17,2016,0.072158,2,629,1,1091.232009,0,0,0,0,1,1091.232009,2011.0,46.509386,9.986111,63.873450,2016,0,0,0,0,0,0,0,0
2990,2,2002.973236,4,44.754589,31.766993,6.000000,2,9,1974,0.194489,47,8004,3,125.000000,3,5,0,0,0,298.470588,1978.0,29.969202,6.439024,47.883083,1974,1,0,0,0,0,0,0,0
2991,2,2758.827577,4,52.524543,46.509386,9.986111,7,7,2011,0.211401,9,1892,0,1091.232009,0,1,0,0,0,1091.232009,2011.0,46.509386,9.986111,63.873450,2011,0,0,0,0,1,0,0,0
2992,3,5827.628640,9,76.338906,48.282187,10.000000,2,21,2007,0.093443,23,4635,5,3300.000000,2,4,0,0,0,1580.529412,1981.0,46.013741,8.600000,72.330730,2007,0,0,0,0,0,0,0,0
2993,2,2078.925546,4,45.595236,29.986188,5.000000,5,5,1961,0.042032,37,6856,84,1940.000000,2,5,0,0,0,2212.285714,1973.0,33.604960,5.000000,47.726893,1961,1,0,0,0,1,0,0,0
2994,3,4527.787006,9,67.288833,48.530265,9.000000,7,12,1972,0.038693,28,6533,1,1015.000000,2,5,0,0,0,1274.674419,1976.0,44.985863,6.750000,64.966234,1972,1,0,0,0,0,0,0,0
2995,1,1238.975909,1,35.199090,22.014067,5.000000,2,5,1966,0.000000,36,6714,2,2672.000000,0,2,0,0,0,2527.400000,1984.0,23.415001,8.444444,41.407428,1966,1,0,0,0,0,0,0,0
2996,2,4492.507994,4,67.026174,46.509386,9.986111,2,17,2011,0.211401,9,1892,0,1091.232009,0,1,0,0,0,1091.232009,2011.0,46.509386,9.986111,63.873450,2011,0,0,0,0,0,0,0,0
2997,2,2699.282892,4,51.954623,31.267396,6.500000,13,0,1984,0.111627,50,12238,8,1970.000000,2,3,0,0,0,1970.000000,1984.0,31.267396,6.500000,51.527458,1984,0,0,0,0,0,1,0,0
2998,1,2238.154449,1,47.309137,29.625305,8.400000,1,1,1990,0.437885,23,5735,3,1084.000000,0,5,0,0,0,1013.951456,1990.0,29.625305,8.400000,44.802693,1990,0,0,0,1,0,0,0,0
2999,3,5902.503658,9,76.827753,45.809590,9.000000,10,12,1984,0.136244,11,2370,0,30.000000,0,1,0,0,0,30.000000,1994.0,48.828193,8.759259,75.949984,1984,0,0,0,0,0,0,0,0

In [154]:
lr = LinearRegression()
lr.fit(train.loc[:, fts], train['Price'])
lr_pred = lr.predict(train.loc[:, fts])
lr_r2_train = r2(train['Price'], lr_pred)

lr_pred_valid = lr.predict(valid.loc[:, fts])

lr_r2_valid = r2(valid['Price'], lr_pred_valid)

print(lr_r2_train, lr_r2_valid)

0.5906910308784246 0.5757326058535528

In [159]:
rf_r2_valid_max = 0
for i in range(10, 40, 1):
    rf = RF(n_estimators=250, max_depth=i, min_samples_leaf=1, random_state=100, max_features=10, n_jobs = -1)
    rf.fit(train.loc[:, fts], train['Price'])
    rf_pred = rf.predict(train.loc[:, fts])
    
    rf_r2_train = r2(train['Price'], rf_pred)
    rf_pred_valid = rf.predict(valid.loc[:, fts])
    
    rf_r2_valid = r2(valid['Price'], rf_pred_valid)
    if rf_r2_valid_max < rf_r2_valid:
        rf_r2_valid_max = rf_r2_valid
        rf_r2_train_max = rf_r2_train
        rf_i_max = i
print(rf_r2_train_max, rf_r2_valid_max, rf_i_max, '\n')

0.960185169205947 0.7301565392716712 20

In [ ]:
rfgs = RF(random_state=100, n_jobs=-1)

random_grid = {
    'n_estimators': np.arange(200, 501, 20), #15
    'max_depth': np.arange(2, 51, 2), #24
    'max_features': [0.5, 0.6, 0.7, 0.8, 0.9], #5
    'min_samples_leaf': [1, 2, 4], #3
    'min_samples_split': [2, 5, 10] #3
}

random_search = RandomizedSearchCV(
    estimator=rfgs,
    param_distributions=random_grid,
    n_iter=50,
    scoring='r2',
    cv=10,
    verbose=2,
    random_state=100,
    n_jobs=-1
)

random_search.fit(train.loc[:, fts], train['Price'])

print(random_search.best_score_)
print(random_search.best_params_)

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed: 38.4min
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed: 86.0min

In [ ]:
rfgs_pred_train = random_search.best_estimator_.predict(train.loc[:, fts])
rfgs_pred_valid = random_search.best_estimator_.predict(valid.loc[:, fts])

score_train = r2_score(train['Price'], rfgs_pred_train)
score_valid = r2_score(valid['Price'], rfgs_pred_valid)

In [155]:
trf = RF(n_estimators=400, max_depth=26, min_samples_leaf=1, min_samples_split=5, random_state=100, max_features=0.5, n_jobs = -1)
trf.fit(train.loc[:, fts], train['Price'])
trf.feature_importances_
plt.barh(train.loc[:, fts].columns, trf.feature_importances_.flatten())
plt.xlabel('Вес признака')
plt.ylabel('Признак')


scores = cross_val_score(trf, train.loc[:, fts], train['Price'], scoring='r2', cv=10, n_jobs=-1)
print(f'cv mean: {np.round(np.mean(scores), 4)}')
print(f'cv std:  {np.round(np.std(scores), 4)}')

Text(0, 0.5, 'Признак')

In [ ]:
rf_r2_valid_max > 0.7301565392716712

In [ ]:
#knn_r2_valid_max = 0
#for i in range(10, 60, 2):
    #knn = KNN(n_neighbors=i)
    #knn.fit(train_scaled, train['Price'])
    #knn_pred = knn.predict(train_scaled)
    #knn_r2_train = r2(train['Price'], knn_pred)
    #knn_pred_valid = knn.predict(valid_scaled)
    #knn_r2_valid = r2(valid['Price'], knn_pred_valid)
    #if knn_r2_valid_max < knn_r2_valid:
        #knn_r2_valid_max = knn_r2_valid
        #knn_r2_train_max = knn_r2_train
        #knn_i_max = i
#print(knn_r2_train_max, knn_r2_valid_max, knn_i_max, '\n')

In [ ]:
print('linar_regression \n', lr_r2_train, lr_r2_valid, '\n')
print('forest \n', rf_r2_train_max, rf_r2_valid_max, rf_i_max, '\n')
#print('KNN \n', knn_r2_train_max, knn_r2_valid_max, knn_i_max, '\n')

Предсказание на тесте

In [ ]:
pred_test = trf.predict(test.loc[:, fts])
pred_test.shape

In [ ]:
test['Price'] = pred_test

In [ ]:
test.head()

In [ ]:
#test.loc[:, ['Id', 'Price']].to_csv('output/APetrov_predictions.csv', index=None)